<!DOCTYPE html>
<html>

<body>
  <div class="item-1-2Mq">
    <div class="auto-group-moru-qq5">
      <div class="rectangle-1-APV">
      </div>
      <div class="group-2085654866-R4X">
        <div class="ellipse-8-ipK">
        </div>
        <div class="ellipse-7-RTq">
        </div>
        <img class="ellipse-1-mGo" />
        <img class="ellipse-4-64B"/>
        <img class="ellipse-2-Qaf" src="./assets/ellipse-2.png" />
        <img class="ellipse-5-jsq" src="./assets/ellipse-5.png" />
        <img class="ellipse-3-4v7" src="./assets/ellipse-3-Bdd.png" />
        <img class="whatsappimage2023-06-30at101838-transformed-1-bQF"/>
        <div class="group-11-hTH">Заказать звонок</div>
      </div>
      <p class="item--1sH">Оборудование для моек самообслуживания</p>
      <p class="item--d7y">Наши преимущества</p>
      <p class="item--Vfy">Наши партнеры</p>
      <div class="group-10-ahR">Оборудование</div>
      <p class="item--DVV">Объекты</p>
      <p class="item--iSF">О компании</p>
      <p class="item--cGj">Пресса о нас</p>
      <p class="item--uFq">Контакты</p>
      <p class="item--13y">Москва</p>
      <p class="item-9-00-18-00-hxP">Ежедневно с 9:00 до 18:00</p>
      <p class="item-7-800-700-20-60-Bcf">+7 (800) 700-20-60</p>
      <p class="item-7-495-725-25-63-Hfh">+7 (495) 725-25-63</p>
      <p class="infomoyka-waveru-bAb">Info[#&64]moyka-wave.ru</p>
      <img class="item-2-hDd" src="./assets/.png" />
      <img class="vector-2-1k7" src="./assets/vector-2.png" />
      <div class="group-2085654860-kBu">
        <img class="group-2085654857-4yH" src="./assets/group-2085654857.png" />
        <p class="item--zM9">
          Быстрая
          <br />
          окупаемость
        </p>
      </div>
      <p class="item--GJf">Видео</p>
      <p class="item--Aew">
        Подробнее о наших мойках
        <br />
        в видео формате
      </p>
      <div class="rectangle-1059-ohu">
      </div>
      <div class="rectangle-1060-GbV">
      </div>
      <div class="rectangle-240651385-mYF">
      </div>
      <div class="rectangle-240651381-FyD">
      </div>
      <div class="rectangle-240651382-Lzf">
      </div>
      <div class="rectangle-240651386-49y">
      </div>
      <div class="rectangle-240651387-koV">
      </div>
      <div class="rectangle-240651393-rbd">
      </div>
      <div class="logocashcode-1-YzF">
        <img class="vector-5jH" src="./assets/vector-U4K.png" />
      </div>
      <div class="samrmlogo-1-qTZ">
        <img class="vector-NTV" src="./assets/vector-aZZ.png" />
      </div>
      <div class="logohawk-1-uTR">
        <img class="vector-eA7" src="./assets/vector.png" />
      </div>
      <div class="logointerpump-1-b5M">
        <img class="vector-XDu" src="./assets/vector-kzF.png" />
      </div>
      <div class="tecomeclogo-1-1-GxB">
        <img class="vector-1es" src="./assets/vector-uCP.png" />
      </div>
      <div class="rectangle-240651391-ZRV">
      </div>
      <div class="rectangle-240651392-EnX">
      </div>
      <div class="rectangle-240651388-VyM">
      </div>
      <div class="rectangle-240651389-CMy">
      </div>
      <div class="rectangle-240651390-tkb">
      </div>
      <div class="rectangle-240651383-zod">
      </div>
      <div class="group-2085654861-WGB">
        <img class="group-2085654858-pnf" src="./assets/group-2085654858.png" />
        <p class="item--MXh">
          Высокое
          <br />
          качество
        </p>
      </div>
      <div class="group-2085654862-dk7">
        <img class="group-2085654859-Ztf" src="./assets/group-2085654859-WH9.png" />
        <p class="item--JLT">
          Короткие
          <br />
          сроки
        </p>
      </div>
      <div class="group-2085654865-Bv3">
        <p class="item--gM1">Получить консультацию</p>
        <div class="auto-group-o9eb-YPD">
          <img class="vector-HLo" src="./assets/vector-4Xu.png" />
        </div>
      </div>
      <div class="group-2085654912-gdq">
        <p class="item--cnP">Новости / Пресса</p>
        <p class="item--iaX">Подробнее о наших мойках в прессе</p>
      </div>
      <div class="rectangle-240651403-o6B">
      </div>
      <div class="rectangle-240651404-88T">
      </div>
      <div class="group-8-raF">
        <img class="feedfill0wght400grad0opsz48-1-NoV" src="./assets/feedfill0wght400grad0opsz48-1.png" />
      </div>
      <img class="expandmorefill0wght400grad0opsz48-1-1-SYT" src="./assets/expandmorefill0wght400grad0opsz48-1-1.png" />
      <img class="languagefill0wght400grad0opsz48-2-1-kp3" src="./assets/languagefill0wght400grad0opsz48-2-1-z5H.png" />
      <img class="schedulefill0wght400grad0opsz48-1-t9Z" src="./assets/schedulefill0wght400grad0opsz48-1-s23.png" />
      <img class="phoneintalkfill0wght400grad0opsz48-4-1-cLT"
        src="./assets/phoneintalkfill0wght400grad0opsz48-4-1.png" />
      <img class="mailfill0wght400grad0opsz48-8-1-LGT" src="./assets/mailfill0wght400grad0opsz48-8-1.png" />
      <div class="ellipse-11-GA7">
      </div>
      <div class="group-2085654873-yKR">
        <p class="eclipse-thH">Терминал «Eclipse»</p>
        <p class="item--11D">Узнать подробнее</p>
      </div>
      <img class="group-2085654869-VBH" src="./assets/group-2085654869.png" />
      <img class="group-2085654872-Dsy" src="./assets/group-2085654872.png" />
      <p class="item-12--9Fq">
        Гарантия на все оборудование
        <br />
        12 месяцев
      </p>
      <p class="item--xyy">
        Мойка самообслуживания — выгодный бизнес, который быстро окупается. Спрос на такие услуги только растет, а
        затраты на его организацию минимальны. Вам даже не нужен персонал, достаточно базового комплекта оборудования.
        <br />

        <br />
        Наша компания предлагает современное оборудование для автомоек самообслуживания, а также уборочную технику из
        Италии, Германии. Мы много лет поставляем и реализуем на российском рынке следующие марки:
      </p>
      <p class="item--9yu">
        Сделайте выбор в пользу безопасности, производительности
        <br />
        и эффективной работы на вашем предприятии. Используйте конструктор, чтобы подобрать комплектацию: полное
        оснащение предприятия под ключ или приобретение отдельных агрегатов.
        <br />
        У нас прямые поставки с заводов-производителей, что гарантирует низкий ценник.
      </p>
      <p class="tekomek-wwh">Tekomek</p>
      <p class="idrobase-fMu">Idrobase</p>
      <p class="eureka-nSX">Eureka</p>
      <p class="gibli-HeB">Gibli</p>
      <img class="verifiedfill0wght300grad0opsz48-1-1-QD1" src="./assets/verifiedfill0wght300grad0opsz48-1-1.png" />
      <img class="eventavailablefill0wght300grad0opsz48-3-1-vBM"
        src="./assets/eventavailablefill0wght300grad0opsz48-3-1-4tT.png" />
      <img class="settingsfill0wght300grad0opsz48-1-EC3" src="./assets/settingsfill0wght300grad0opsz48-1.png" />
      <img class="memoryfill0wght300grad0opsz48-1-1-wcF" src="./assets/memoryfill0wght300grad0opsz48-1-1.png" />
      <p class="item--Azo">Производим постгарантийное обслуживание</p>
      <p class="item-10--DCP">10 летний опыт производства моек самообслуживания</p>
      <p class="item--eHh">Уникальные технологии</p>
      <p class="item-300--uzK">
        <span class="item-300--uzK-sub-0">более 300 объектов </span>
        <span class="item-300--uzK-sub-1">по России и СНГ</span>
      </p>
      <p class="item--o63">НАША КОМПАНИЯ РЕАЛИЗОВАЛА</p>
      <p class="item--r4K">аксессуары для моечного оборудования бесконтактных моек;</p>
      <p class="item--SRq">бренд, производящий аксессуары, шланги, фильтры и др. продукцию</p>
      <p class="item--3gX">итальянский производитель поломоечной и подметальной техники;</p>
      <p class="item--EW7">итальянский бренд уборочной техники.</p>
      <div class="rectangle-1058-t4s">
      </div>
      <img class="vector-A2P" src="./assets/vector-BX1.png" />
    </div>
    <div class="auto-group-bufd-4Nf">
      <div class="auto-group-nakv-xiw">
        <p class="item--tMh">Популярные товары</p>
        <p class="item--nCB">Посмотреть все товары</p>
        <div class="auto-group-qmes-sjR">
          <div class="group-2085654879-QUT">
            <img class="vector-izw" src="./assets/vector-5wZ.png" />
          </div>
          <div class="group-2085654880-Dwh">
            <img class="vector-kgj" src="./assets/vector-7nT.png" />
          </div>
        </div>
      </div>
      <div class="auto-group-o4p5-Guy">
        <div class="group-2085654896-NTD">
          <img class="rectangle-240651376-gD1" src="./assets/rectangle-240651376.png" />
          <p class="item--yxo">
            Зона доп. услуг для
            <br />
            МСО и АЗС
          </p>
          <p class="item--2RH">Готовое решение МСО</p>
          <p class="item--6vw">Платежные системы</p>
          <p class="item--nHy">Тип:</p>
          <p class="item-220--5ns">
            <span class="item-220--5ns-sub-0">Напряжение: </span>
            <span class="item-220--5ns-sub-1">220 В</span>
          </p>
          <p class="eu-9-Y4B">
            <span class="eu-9-Y4B-sub-0">Монетоприемник: </span>
            <span class="eu-9-Y4B-sub-1">Eu 9</span>
          </p>
          <p class="item--HR5">
            <span class="item--HR5-sub-0">Купюроприемник: </span>
            <span class="item--HR5-sub-1">(Опция)</span>
          </p>
          <p class="item--QPD">
            <span class="item--QPD-sub-0">Карты лояльности: </span>
            <span class="item--QPD-sub-1">(Опция)</span>
          </p>
          <p class="item--jZu">
            <span class="item--jZu-sub-0">Фискальный чек: </span>
            <span class="item--jZu-sub-1">(Опция)</span>
          </p>
          <p class="item-2-2400--5GP">
            <span class="item-2-2400--5GP-sub-0">Мощность: </span>
            <span class="item-2-2400--5GP-sub-1">2 х 2400 Вт.</span>
          </p>
          <p class="item--QT5">
            <span class="item--QT5-sub-0">Принимает: </span>
            <span class="item--QT5-sub-1">Монеты/жетоны</span>
          </p>
          <p class="item-2-70--Yxb">
            <span class="item-2-70--Yxb-sub-0">Объем бака: </span>
            <span class="item-2-70--Yxb-sub-1">2 х 70 л.</span>
          </p>
          <img class="vector-151-WY3" src="./assets/vector-151.png" />
          <img class="vector-152-SwV" src="./assets/vector-152.png" />
          <img class="vector-153-C9y" src="./assets/vector-153.png" />
          <img class="vector-154-Xi3" src="./assets/vector-154-bNT.png" />
          <div class="group-2085654885-UdH">Запросить цену</div>
        </div>
        <div class="group-2085654898-68s">
          <img class="rectangle-240651395-aZq" src="./assets/rectangle-240651395.png" />
          <div class="auto-group-oxvs-Vgo">
            <p class="item-660-000--Dsh">660 000 ₽</p>
            <div class="group-2085654883-u1m">Заказать</div>
          </div>
          <p class="platinum-space-robo--y1d">Терминал &#34;Platinum Space Robo&#34; (настенный)</p>
          <p class="item--3nB">Терминал</p>
          <p class="item--Yiw">Платежные системы</p>
          <p class="item--E5y">Тип:</p>
          <p class="item--8BM">
            <span class="item--8BM-sub-0">Корпус: </span>
            <span class="item--8BM-sub-1">Нерж. сталь</span>
          </p>
          <p class="cashcode-U8j">
            <span class="cashcode-U8j-sub-0">Купюроприемник: </span>
            <span class="cashcode-U8j-sub-1">CashCode</span>
          </p>
          <p class="item--EGK">
            <span class="item--EGK-sub-0">Карты лояльности: </span>
            <span class="item--EGK-sub-1">(в комплекте)</span>
          </p>
          <p class="item--x5q">
            <span class="item--x5q-sub-0">Банковские карты: </span>
            <span class="item--x5q-sub-1">(в комплекте)</span>
          </p>
          <p class="item--5Js">
            <span class="item--5Js-sub-0">Монтируется: </span>
            <span class="item--5Js-sub-1">На стену</span>
          </p>
          <p class="touch-43--1bq">
            <span class="touch-43--1bq-sub-0">Экран: </span>
            <span class="touch-43--1bq-sub-1">Touch 43 дюйма (яркий)</span>
          </p>
          <p class="item--ywy">
            <span class="item--ywy-sub-0">Кнопки: </span>
            <span class="item--ywy-sub-1">Сенсорные</span>
          </p>
          <p class="item-90-Ytb">
            <span class="item-90-Ytb-sub-0">Масса (кг): </span>
            <span class="item-90-Ytb-sub-1">90</span>
          </p>
          <p class="ambilight--Y1R">
            <span class="ambilight--Y1R-sub-0">Подсветка: </span>
            <span class="ambilight--Y1R-sub-1">&#34;Ambilight&#34; В комплекте</span>
          </p>
          <img class="vector-156-59m" src="./assets/vector-156.png" />
          <img class="vector-157-Qhq" src="./assets/vector-157.png" />
          <img class="vector-158-k11" src="./assets/vector-158.png" />
          <img class="vector-159-64s" src="./assets/vector-159.png" />
        </div>
        <div class="group-2085654897-oEB">
          <img class="rectangle-240651397-hKZ" src="./assets/rectangle-240651397.png" />
          <div class="auto-group-okdm-Qjm">
            <p class="item-587-000--LNX">587 000 ₽</p>
            <div class="group-2085654884-FkP">Заказать</div>
          </div>
          <p class="platinum-space-w7R">Терминал &#34;Platinum Space&#34;</p>
          <p class="item--S4B">Терминал</p>
          <p class="item--XLX">Платежные системы</p>
          <p class="item--f5M">Тип:</p>
          <p class="item--9mD">
            <span class="item--9mD-sub-0">Корпус: </span>
            <span class="item--9mD-sub-1">Нерж. сталь</span>
          </p>
          <p class="cashcode-fsy">
            <span class="cashcode-fsy-sub-0">Купюроприемник: </span>
            <span class="cashcode-fsy-sub-1">CashCode</span>
          </p>
          <p class="microcoin-sp-Epb">
            <span class="microcoin-sp-Epb-sub-0">Монетоприемник: </span>
            <span class="microcoin-sp-Epb-sub-1">Microcoin SP</span>
          </p>
          <p class="item--pXu">
            <span class="item--pXu-sub-0">Карты лояльности: </span>
            <span class="item--pXu-sub-1">(в комплекте)</span>
          </p>
          <p class="item--LPm">
            <span class="item--LPm-sub-0">Банковские карты: </span>
            <span class="item--LPm-sub-1">(в комплекте)</span>
          </p>
          <p class="item--4DH">
            <span class="item--4DH-sub-0">Монтируется: </span>
            <span class="item--4DH-sub-1">На стену</span>
          </p>
          <p class="touch-43--QgT">
            <span class="touch-43--QgT-sub-0">Экран: </span>
            <span class="touch-43--QgT-sub-1">Touch 43 дюйма (яркий)</span>
          </p>
          <p class="item--xrP">
            <span class="item--xrP-sub-0">Кнопки: </span>
            <span class="item--xrP-sub-1">Сенсорные</span>
          </p>
          <p class="item-90-hxP">
            <span class="item-90-hxP-sub-0">Масса (кг): </span>
            <span class="item-90-hxP-sub-1">90</span>
          </p>
          <p class="ambilight--ULs">
            <span class="ambilight--ULs-sub-0">Подсветка: </span>
            <span class="ambilight--ULs-sub-1">&#34;Ambilight&#34; В комплекте</span>
          </p>
          <img class="vector-161-pp3" src="./assets/vector-161.png" />
          <img class="vector-162-MJB" src="./assets/vector-162.png" />
          <img class="vector-163-Gvw" src="./assets/vector-163.png" />
          <img class="vector-164-1tX" src="./assets/vector-164.png" />
        </div>
      </div>
      <div class="auto-group-seu9-uDD">
        <p class="item--ctK">Новости нашей компании</p>
        <p class="item--7KH">Посмотреть все новости</p>
        <div class="auto-group-nvq5-QpB">
          <div class="group-48095668-915">
            <img class="vector-rgB" src="./assets/vector-cuy.png" />
          </div>
          <div class="group-48095669-z1h">
            <img class="vector-K3y" src="./assets/vector-RnK.png" />
          </div>
        </div>
      </div>
      <div class="auto-group-kbhu-qo1">
        <div class="group-2085654876-xsd">
          <img class="rectangle-240651376-fn3" src="./assets/rectangle-240651376-Ghq.png" />
          <p class="item--9hD">Зона дополнительных услуг на МСО</p>
          <p class="item--nEP">
            Оборудование для предоставления
            <br />
            доп. услуг на автомойках и АЗС
          </p>
          <div class="auto-group-eak3-zLT">
            <p class="item--vju">Читать далее</p>
            <img class="group-48095661-Q9H" src="./assets/group-48095661.png" />
            <div class="group-2085654875-LHq">
              <img class="schedulefill0wght400grad0opsz48-1-T7Z"
                src="./assets/schedulefill0wght400grad0opsz48-1-HEj.png" />
              <p class="descr-NkK">04.05.2022</p>
            </div>
          </div>
        </div>
        <div class="group-2085654877-4d9">
          <img class="rectangle-240651376-P9d" src="./assets/rectangle-240651376-qY7.png" />
          <p class="item--hw1">Зона дополнительных услуг на МСО</p>
          <p class="item--xc3">
            Оборудование для предоставления
            <br />
            доп. услуг на автомойках и АЗС
          </p>
          <div class="auto-group-yzrs-iUj">
            <p class="item--Re3">Читать далее</p>
            <img class="group-48095661-Jhq" src="./assets/group-48095661-Ahh.png" />
            <div class="group-2085654875-Sp3">
              <img class="schedulefill0wght400grad0opsz48-1-8gs" src="./assets/schedulefill0wght400grad0opsz48-1.png" />
              <p class="descr-Ezo">04.05.2022</p>
            </div>
          </div>
        </div>
        <div class="group-2085654878-XDD">
          <img class="rectangle-240651376-Sb5" src="./assets/rectangle-240651376-tq1.png" />
          <p class="item--Mi3">Зона дополнительных услуг на МСО</p>
          <p class="item--DET">
            Оборудование для предоставления
            <br />
            доп. услуг на автомойках и АЗС
          </p>
          <div class="auto-group-aamy-1AK">
            <p class="item--YAF">Читать далее</p>
            <img class="group-48095661-pdZ" src="./assets/group-48095661-JDq.png" />
            <div class="group-2085654875-MdV">
              <img class="schedulefill0wght400grad0opsz48-1-VDu"
                src="./assets/schedulefill0wght400grad0opsz48-1-DC7.png" />
              <p class="descr-Qrf">04.05.2022</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-wrgo-VNK">
      <div class="group-2085654895-oP1">
        <div class="auto-group-nwet-Xpo">
          <p class="item--fAK">Оставьте заявку</p>
          <p class="item--wtX">Мы ответим на все интересующие вопросы</p>
        </div>
        <div class="auto-group-eezw-pBd">
          <div class="group-2085654893-9Uo">
            <p class="item--Hb1">Введите ваше имя</p>
            <div class="rectangle-240651399-kzP">
            </div>
          </div>
          <div class="group-2085654894-UfV">
            <p class="item--DNB">Введите ваш телефон</p>
            <div class="rectangle-240651400-tUK">
            </div>
          </div>
        </div>
        <div class="group-2085654892-DWb">
          <p class="item--Msh">Комментарий</p>
          <div class="rectangle-240651401-r3m">
          </div>
        </div>
        <div class="group-2085654886-aEf">
          <p class="item--rhy">Получить консультацию</p>
          <div class="auto-group-1yr3-Jps">
            <img class="vector-dMM" src="./assets/vector-FMM.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-ph63-o9M">
      <div class="auto-group-uxeb-K7h">
        <div class="auto-group-ffek-2Xu">
          <img class="item-3-a3d" src="./assets/-bud.png" />
          <p class="item--VRV">
            Отличный выбор
            <br />
            оборудования для автомоек самообслуживания
          </p>
          <img class="orig-1-1-J83" src="./assets/orig-1-1.png" />
          <div class="auto-group-enod-p6P">
            <img class="group-1216400668-7bH" src="./assets/group-1216400668.png" />
            <img class="group-2085654889-ER1" src="./assets/group-2085654889.png" />
          </div>
        </div>
        <div class="auto-group-zszm-x67">
          <div class="auto-group-xtab-5Aj">
            <p class="item--Qio">Оборудование</p>
            <p class="item--7t7">
              О компании
              <br />

              <br />
              Аксессуары для АВД
              <br />

              <br />
              Пылесосы самообслуживания
              <br />

              <br />
              Разменные аппараты
              <br />

              <br />
              Рукомойник для мойки самообслуживания
            </p>
          </div>
          <div class="auto-group-uapu-3vB">
            <p class="item--ncs">Контакты</p>
            <div class="auto-group-a5lf-iFd">
              <img class="schedulefill0wght400grad0opsz48-2-q5M" src="./assets/schedulefill0wght400grad0opsz48-2.png" />
              <div class="auto-group-t2wo-LXu">
                <p class="item--V9u">Время работы</p>
                <p class="item-9-00-18-00-zsM">Ежедневно с 9:00 до 18:00</p>
              </div>
            </div>
            <div class="auto-group-ejrd-uDd">
              <img class="phoneintalkfill0wght400grad0opsz48-4-2-QAP"
                src="./assets/phoneintalkfill0wght400grad0opsz48-4-2.png" />
              <div class="auto-group-95zs-JFm">
                <p class="item--r2P">Телефон:</p>
                <p class="item-7-800-700-20-60-7-495-725-25-63-NFd">
                  +7 (800) 700-20-60
                  <br />
                  +7 (495) 725-25-63
                </p>
              </div>
            </div>
            <div class="group-2085654891-g1R">
              <img class="mailfill0wght400grad0opsz48-8-2-b8P" src="./assets/mailfill0wght400grad0opsz48-8-2.png" />
              <div class="auto-group-y7as-hx7">
                <p class="item--4Gs">Почта:</p>
                <p class="infomoyka-waveru-BMV">Info[#&64]moyka-wave.ru</p>
              </div>
            </div>
          </div>
          <div class="auto-group-kqsz-uoH">
            <p class="item--eVy">Мы представлены в городах</p>
            <div class="auto-group-wzef-wV5">
              <p class="item--t9R">
                Самара
                <br />

                <br />
                Казань
                <br />

                <br />
                Волгоград
                <br />

                <br />
                Красноярск
                <br />

                <br />
                Краснодар
              </p>
              <p class="item--w7h">
                С.-Петербург
                <br />

                <br />
                Ростов-на-Дону
                <br />

                <br />
                Н.-Новгород
                <br />

                <br />
                Екатеринбург
                <br />

                <br />
                Пермь
              </p>
            </div>
          </div>
          <p class="item--MSK">
            Омск
            <br />

            <br />
            Челябинск
            <br />

            <br />
            Новосибирск
            <br />

            <br />
            Воронеж
            <br />

            <br />
            Уфа
          </p>
        </div>
      </div>
      <img class="vector-165-p51" src="./assets/vector-165.png" />
      <p class="wave-s--xBD">
        <span class="wave-s--xBD-sub-0">© 2014-2023 «Wave-S». Мойки самообслуживания | </span>
        <span class="wave-s--xBD-sub-1">Карта сайта</span>
        <span class="wave-s--xBD-sub-2"> | </span>
        <span class="wave-s--xBD-sub-3">Контакты в регионах</span>
        <span class="wave-s--xBD-sub-4"> | </span>
        <span class="wave-s--xBD-sub-5">Этапы строительства</span>
      </p>
    </div>
  </div>
</body>