.products__item {
    height: 765px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #013a51;
    background: var(--white);
    margin: 5px;
    margin-left: 0px;
}

.products__image {
    /* width: 370px; */
    height: 410px;
    overflow: hidden;
    display: flex;
    /* border-radius: 10px; */
}

.products__price__link:hover {
    background-color: #0056b3;
}