
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-594-Gaw {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-gv5d-xyZ {
    margin-bottom: 33.7rem;
    width: 293.3865rem;
    height: 98.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-T9d {
      height: 55.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #383838 -0%, #2d2d2d 100%);
      width: 192rem;
    }
    .item--Mko {
      height: 2rem;
      top: 33.2rem;
      font-size: 1.6rem;
      color: #0c91fc;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.4rem;
      position: absolute;
      left: 31.5rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item--1KZ {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      left: 31.5rem;
      top: 36.6rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 22.2rem;
      height: 2rem;
      position: absolute;
    }
    .item--5KR {
      font-weight: 400;
      line-height: 1.2125;
      width: 20.4rem;
      height: 2rem;
      position: absolute;
      left: 31.5rem;
      top: 40rem;
      font-size: 1.6rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--x8K {
      font-size: 1.6rem;
      color: #ffffff;
      position: absolute;
      left: 31.5rem;
      top: 43.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 25.3rem;
      height: 2rem;
      font-weight: 400;
    }
    .item--E5q {
      width: 25.3rem;
      height: 2rem;
      position: absolute;
      left: 31.5rem;
      font-weight: 400;
      white-space: nowrap;
      top: 46.8rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--5MM {
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      left: 31.5rem;
      top: 50.2rem;
      font-weight: 400;
      width: 18.6rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .vector-ANo {
      width: 1.5556rem;
      height: 0.7778rem;
      position: absolute;
      left: 158.9rem;
      top: 28.9222rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--gc3 {
      line-height: 1.2125;
      color: #ffffff;
      width: 25rem;
      height: 2rem;
      left: 31.5rem;
      top: 28.3rem;
      font-size: 1.6rem;
      position: absolute;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .group-10-YeF {
      backdrop-filter: blur(1.2rem);
      border-radius: 0.3rem;
      width: 12.9rem;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #0c91fc;
      top: 9.3rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 3rem;
      left: 53.5rem;
      font-size: 1.6rem;
      display: flex;
    }
    .group-11-mmu {
      left: 144.4rem;
      top: 8.7rem;
      color: #ffffff;
      display: flex;
      background: linear-gradient(93.53deg, #69bdf9 0%, rgba(105, 189, 249, 0.3400000036) 100%);
      border-radius: 0.3rem;
      width: 16.1rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(1.2rem);
      height: 4rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item--CMR {
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      top: 9.8rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 7.6rem;
      position: absolute;
      left: 68.4rem;
      line-height: 1.2125;
    }
    .item--J9Z {
      width: 15.5rem;
      left: 31.7rem;
      font-size: 1.2rem;
      font-family: Inter, 'Source Sans Pro';
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      height: 1.5rem;
      position: absolute;
      top: 17.6rem;
      font-weight: 400;
      line-height: 1.2125;
      align-items: baseline;

      .item--J9Z-sub-0 {
        line-height: 1.2125;
        color: #858585;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
      }
      .item--J9Z-sub-1 {
      }
    }
    .item--Kis {
      position: absolute;
      top: 9.8rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 10.1rem;
      height: 2rem;
      left: 77.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .item--1rb {
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      top: 9.8rem;
      color: #ffffff;
      width: 10.8rem;
      left: 88.9rem;
      font-size: 1.6rem;
    }
    .item--iFD {
      height: 2rem;
      left: 101.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.3rem;
      position: absolute;
      top: 9.8rem;
      line-height: 1.2125;
    }
    .item--1k7 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.2rem;
      top: 1.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      height: 2rem;
      position: absolute;
      left: 34.4rem;
    }
    .item-9-00-18-00-XTZ {
      top: 1.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      width: 22rem;
      left: 80.1rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
    }
    .item-7-800-700-20-60-C3u {
      width: 15.3rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      left: 106.6rem;
      top: 1.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .item-7-495-725-25-63-VYo {
      font-size: 1.6rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.3rem;
      left: 124.2rem;
      top: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      height: 2rem;
      position: absolute;
    }
    .infomoyka-waveru-Ci7 {
      position: absolute;
      left: 144.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #ffffff;
      width: 16rem;
      height: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 1.4rem;
      line-height: 1.2125;
    }
    .item-2-7aB {
      top: 7.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 19rem;
      height: 6.1953rem;
      position: absolute;
      left: 31.5rem;
    }
    .vector-2-SMZ {
      top: 4.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 129rem;
      height: 0rem;
      position: absolute;
      left: 31.5rem;
    }
    .vector-3-Zh5 {
      height: 0rem;
      position: absolute;
      left: 31.5rem;
      top: 16.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 129rem;
    }
    .vector-4-tUT {
      object-fit: contain;
      vertical-align: top;
      width: 129rem;
      height: 0rem;
      position: absolute;
      left: 31.5rem;
      top: 25.9rem;
    }
    .expandmorefill0wght400grad0opsz48-1-1-2qZ {
      top: 2.0608rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.1rem;
      height: 0.6485rem;
      position: absolute;
      left: 41.55rem;
    }
    .languagefill0wght400grad0opsz48-2-1-jzs {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 31.7rem;
      top: 1.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .schedulefill0wght400grad0opsz48-1-wb9 {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 76.9rem;
      top: 1.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .phoneintalkfill0wght400grad0opsz48-4-1-puq {
      position: absolute;
      left: 103.5rem;
      top: 1.4975rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.8rem;
      height: 1.8025rem;
    }
    .mailfill0wght400grad0opsz48-8-1-XJT {
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.6rem;
      position: absolute;
      left: 141.7rem;
      top: 1.6rem;
    }
    .ellipse-11-3nb {
      height: 0.4rem;
      position: absolute;
      left: 122.9rem;
      top: 2.1rem;
      background-color: #0c91fc;
      border-radius: 0.2rem;
      width: 0.4rem;
    }
    .item--AcK {
      width: 34rem;
      height: 4.9rem;
      top: 19.6rem;
      font-size: 4rem;
      line-height: 1.2125;
      white-space: nowrap;
      position: absolute;
      left: 31.5rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-devq-T5d {
    height: 76.7057rem;
    flex-shrink: 0;
    margin-left: 52.0918rem;
    width: 146.3662rem;
  }
}
