
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-3-3Ru {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-zsdq-jZd {
    width: 293.3866rem;
    height: 107.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-aq9 {
      background: linear-gradient(279.97deg, #1a5770 100%, #104e68 201.09%);
      width: 192rem;
      height: 21.5rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .group-10-taw {
      position: absolute;
      left: 53.5rem;
      text-align: center;
      font-size: 1.6rem;
      color: #ffffff;
      border: solid 0.1rem #0c91fc;
      backdrop-filter: blur(1.2rem);
      width: 12.9rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-radius: 0.3rem;
      height: 3rem;
      top: 9.3rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
    }
    .group-11-uF9 {
      height: 4rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.3rem;
      top: 8.7rem;
      text-align: center;
      font-weight: 400;
      display: flex;
      align-items: center;
      left: 144.4rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #ffffff;
      box-sizing: border-box;
      width: 16.1rem;
      justify-content: center;
      backdrop-filter: blur(1.2rem);
      background: linear-gradient(93.53deg, #69bdf9 0%, rgba(105, 189, 249, 0.3400000036) 100%);
    }
    .item--hwh {
      top: 9.8rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      left: 68.4rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 7.6rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .wave-s-platinum-space-PZd {
      top: 18.1rem;
      font-size: 1.2rem;
      color: #5c8799;
      white-space: nowrap;
      width: 81.4rem;
      height: 1.5rem;
      left: 31.7rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      position: absolute;
      font-weight: 400;
      line-height: 1.2125;

      .wave-s-platinum-space-PZd-sub-0 {
      }
      .wave-s-platinum-space-PZd-sub-1 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--5zB {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 9.8rem;
      height: 2rem;
      position: absolute;
      left: 77.5rem;
      font-size: 1.6rem;
      width: 10.1rem;
    }
    .item--ms1 {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 10.8rem;
      height: 2rem;
      left: 88.9rem;
      font-size: 1.6rem;
      position: absolute;
      top: 9.8rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .item--YmH {
      top: 9.8rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 8.3rem;
      position: absolute;
      left: 101.3rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      font-size: 1.6rem;
      line-height: 1.2125;
    }
    .item--qkP {
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      color: #ffffff;
      width: 6.2rem;
      left: 34.4rem;
      top: 1.4rem;
      font-weight: 400;
    }
    .item-9-00-18-00-wYX {
      font-family: Inter, 'Source Sans Pro';
      width: 22rem;
      position: absolute;
      left: 80.1rem;
      top: 1.4rem;
      font-size: 1.6rem;
      color: #ffffff;
      height: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .item-7-800-700-20-60-pMR {
      left: 106.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      width: 15.3rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      top: 1.4rem;
    }
    .item-7-495-725-25-63-hw1 {
      position: absolute;
      font-size: 1.6rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      left: 124.2rem;
      top: 1.4rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 15.3rem;
    }
    .infomoyka-waveru-oj9 {
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      width: 16rem;
      height: 2rem;
      left: 144.6rem;
      top: 1.4rem;
      white-space: nowrap;
    }
    .item-2-v35 {
      left: 31.5rem;
      top: 7.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 19rem;
      height: 6.1953rem;
      position: absolute;
    }
    .vector-2-EJf {
      object-fit: contain;
      vertical-align: top;
      width: 129rem;
      height: 0rem;
      position: absolute;
      left: 31.5rem;
      top: 4.9rem;
    }
    .vector-3-ZLw {
      left: 31.5rem;
      top: 16.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 129rem;
      height: 0rem;
      position: absolute;
    }
    .expandmorefill0wght400grad0opsz48-1-1-J3d {
      left: 41.55rem;
      top: 2.0608rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.1rem;
      height: 0.6485rem;
      position: absolute;
    }
    .languagefill0wght400grad0opsz48-2-1-Ceo {
      position: absolute;
      left: 31.7rem;
      top: 1.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
    }
    .schedulefill0wght400grad0opsz48-1-vKu {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 76.9rem;
      top: 1.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .phoneintalkfill0wght400grad0opsz48-4-1-3vK {
      position: absolute;
      left: 103.5rem;
      top: 1.4975rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.8rem;
      height: 1.8025rem;
    }
    .mailfill0wght400grad0opsz48-8-1-kpj {
      width: 2rem;
      height: 1.6rem;
      position: absolute;
      left: 141.7rem;
      top: 1.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-11-suM {
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      left: 122.9rem;
      top: 2.1rem;
      background-color: #0c91fc;
      border-radius: 0.2rem;
    }
    .platinum-space-zyy {
      width: 57rem;
      position: absolute;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 4.9rem;
      left: 31.5rem;
      top: 49.4rem;
      white-space: nowrap;
    }
    .rectangle-240651395-htP {
      vertical-align: top;
      border-radius: 1rem;
      width: 63rem;
      height: 64rem;
      position: absolute;
      left: 31.5rem;
      top: 24rem;
      object-fit: contain;
    }
    .rectangle-240651404-QXu {
      position: absolute;
      left: 38.6rem;
      top: 91rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 15.5rem;
      height: 13rem;
    }
    .rectangle-240651405-CyZ {
      vertical-align: top;
      border-radius: 1rem;
      width: 15.4rem;
      height: 13rem;
      position: absolute;
      left: 55.3rem;
      top: 91rem;
      object-fit: contain;
    }
    .rectangle-240651406-8cK {
      left: 71.9rem;
      top: 91rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 15.5rem;
      height: 13rem;
      position: absolute;
    }
    .group-2085654879-TPh {
      position: absolute;
      background-color: #f4f4f5;
      box-sizing: border-box;
      padding: 2.022rem 2.489rem 2.022rem 2.333rem;
      width: 5.6rem;
      height: 5.6rem;
      left: 31.5rem;
      top: 94.7rem;
      border-radius: 2.8rem;

      .vector-9XR {
        height: 1.5556rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.7778rem;
      }
    }
    .group-2085654880-5AB {
      left: 88.9rem;
      top: 94.7rem;
      border-radius: 2.8rem;
      padding: 2.022rem 2.333rem 2.022rem 2.489rem;
      position: absolute;
      height: 5.6rem;
      background-color: #0c91fc;
      box-sizing: border-box;
      width: 5.6rem;

      .vector-nKV {
        width: 0.7778rem;
        height: 1.5556rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .platinum-space-7sZ {
      line-height: 1.2125;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 97.5rem;
      font-size: 4.8rem;
      font-weight: 600;
      white-space: nowrap;
      width: 64.6rem;
      height: 5.9rem;
      top: 24rem;
    }
    .item--1xw {
      font-weight: 500;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      left: 97.5rem;
      top: 33.8rem;
      white-space: nowrap;
      width: 19.7rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #023a51;
    }
    .item--HvT {
      left: 97.5rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 25.4rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 500;
      color: #023a51;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      top: 50.1rem;
    }
    .item--m4w {
      top: 71.2rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #023a51;
      width: 11.9rem;
      height: 2.2rem;
      position: absolute;
      left: 97.5rem;
      white-space: nowrap;
      font-weight: 500;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--TCf {
      display: flex;
      align-items: baseline;
      top: 53.3rem;
      font-size: 1.6rem;
      white-space: nowrap;
      left: 97.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      width: 17.2rem;
      height: 2rem;
      position: absolute;

      .item--TCf-sub-0 {
      }
      .item--TCf-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item-200--AFV {
      width: 45.8rem;
      height: 2rem;
      left: 97.5rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      color: rgba(1, 58, 81, 0.4199999869);
      display: flex;
      align-items: baseline;
      position: absolute;
      top: 74.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;

      .item-200--AFV-sub-0 {
      }
      .item-200--AFV-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--pUT {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      height: 2rem;
      position: absolute;
      left: 97.5rem;
      top: 77.3rem;
      white-space: nowrap;
      align-items: baseline;
      width: 21.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);

      .item--pUT-sub-0 {
      }
      .item--pUT-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--rpT {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      height: 2rem;
      position: absolute;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      width: 27.6rem;
      left: 97.5rem;
      top: 80.2rem;
      font-weight: 400;
      align-items: baseline;

      .item--rpT-sub-0 {
      }
      .item--rpT-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--NAX {
      left: 97.5rem;
      top: 83.1rem;
      line-height: 1.2125;
      white-space: nowrap;
      align-items: baseline;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      width: 43.4rem;
      height: 2rem;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);

      .item--NAX-sub-0 {
      }
      .item--NAX-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--f39 {
      top: 86rem;
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      width: 55.8rem;
      position: absolute;
      left: 97.5rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;

      .item--f39-sub-0 {
      }
      .item--f39-sub-1 {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .item--f39-sub-2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .cashcode-SLj {
      width: 23.6rem;
      height: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      position: absolute;
      left: 97.5rem;
      top: 37rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);

      .cashcode-SLj-sub-0 {
      }
      .cashcode-SLj-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .microcoin-sp-DVu {
      color: rgba(1, 58, 81, 0.4199999869);
      width: 25.5rem;
      height: 2rem;
      left: 97.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      display: flex;
      align-items: baseline;
      position: absolute;
      top: 39.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;

      .microcoin-sp-DVu-sub-0 {
      }
      .microcoin-sp-DVu-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--mvj {
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      width: 28.2rem;
      top: 41.8rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      left: 97.5rem;

      .item--mvj-sub-0 {
      }
      .item--mvj-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--WWw {
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-size: 1.6rem;
      font-weight: 400;
      top: 44.2rem;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      width: 28.1rem;
      height: 2rem;
      left: 97.5rem;

      .item--WWw-sub-0 {
      }
      .item--WWw-sub-1 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
      }
    }
    .item--rDR {
      width: 19.1rem;
      height: 2rem;
      position: absolute;
      left: 97.5rem;
      top: 89.4rem;
      color: #0c91fc;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      text-decoration-line: underline;
      white-space: nowrap;
    }
    .item--j2K {
      top: 55.7rem;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      align-items: baseline;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 19.5rem;
      height: 2rem;
      position: absolute;
      left: 97.5rem;
      font-size: 1.6rem;
      display: flex;

      .item--j2K-sub-0 {
      }
      .item--j2K-sub-1 {
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .touch-43--gbm {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      left: 97.5rem;
      top: 58.1rem;
      font-weight: 400;
      width: 25.9rem;
      font-size: 1.6rem;
      color: rgba(1, 58, 81, 0.4199999869);
      display: flex;
      align-items: baseline;

      .touch-43--gbm-sub-0 {
      }
      .touch-43--gbm-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--fCo {
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      align-items: baseline;
      width: 16.5rem;
      height: 2rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.2125;
      left: 97.5rem;
      top: 60.5rem;
      font-size: 1.6rem;
      white-space: nowrap;
      display: flex;

      .item--fCo-sub-0 {
      }
      .item--fCo-sub-1 {
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .item-90-d39 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      width: 11.5rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      top: 62.9rem;
      font-size: 1.6rem;
      font-weight: 400;
      height: 2rem;
      position: absolute;
      left: 97.5rem;

      .item-90-d39-sub-0 {
      }
      .item-90-d39-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
    }
    .ambilight--m2s {
      height: 2rem;
      position: absolute;
      left: 97.5rem;
      top: 65.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      align-items: baseline;
      width: 29.3rem;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;

      .ambilight--m2s-sub-0 {
      }
      .ambilight--m2s-sub-1 {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .vector-161-7kw {
      vertical-align: top;
      width: 63rem;
      height: 0rem;
      position: absolute;
      left: 97.5rem;
      top: 31.8rem;
      object-fit: contain;
    }
    .vector-164-f1m {
      top: 48.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 63rem;
      height: 0rem;
      position: absolute;
      left: 97.5rem;
    }
    .vector-165-yHM {
      position: absolute;
      left: 97.5rem;
      top: 69.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 63rem;
      height: 0rem;
    }
    .vector-166-ffy {
      height: 0rem;
      position: absolute;
      left: 97.5rem;
      top: 93.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 63rem;
    }
    .item-587-000--CA7 {
      font-size: 3.2rem;
      line-height: 1.2125;
      color: #023a51;
      white-space: nowrap;
      width: 17.6rem;
      height: 3.9rem;
      position: absolute;
      left: 143.9rem;
      top: 95.3rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--V9D {
      height: 3.9rem;
      left: 97.5rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 10.5rem;
      position: absolute;
      top: 95.3rem;
      font-weight: 700;
      color: #023a51;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-2085654884-Bnj {
      width: 30rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 1rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      background-color: #0c91fc;
      height: 5rem;
      font-size: 1.6rem;
      position: absolute;
      left: 97.5rem;
      top: 101.2rem;
      align-items: center;
      justify-content: center;
    }
    .group-2085654911-qsH {
      box-sizing: border-box;
      top: 101.2rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      border-radius: 1rem;
      width: 30rem;
      text-align: center;
      border: solid 0.1rem #013a51;
      font-weight: 500;
      color: #013a51;
      left: 130.5rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 5rem;
      position: absolute;
    }
  }
  .auto-group-xszp-h8o {
    flex-shrink: 0;
    width: 100%;
    height: 206.1rem;
    position: relative;

    .auto-group-mhcx-R4o {
      width: 166.958rem;
      height: 119rem;
      position: absolute;
      left: 31.5rem;
      top: 2rem;

      .vector-168-JPV {
        object-fit: contain;
        vertical-align: top;
        width: 129rem;
        height: 0rem;
        position: absolute;
        left: 0;
        top: 43.4rem;
      }
      .item--qeK {
        white-space: nowrap;
        width: 16.2rem;
        height: 3.9rem;
        position: absolute;
        left: 0;
        top: 47rem;
        color: #023a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .platinum-space-20-30-25--whM {
        left: 0;
        top: 52.9rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        width: 129.1rem;
        height: 15.6rem;
        position: absolute;
        font-weight: 400;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--nE7 {
        top: 70.1rem;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
        width: 44.1rem;
        height: 2.5rem;
        white-space: nowrap;
      }
      .item--DqD {
        position: absolute;
        left: 0;
        top: 85rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
        width: 36.1rem;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
      }
      .item--HaB {
        left: 0;
        top: 94.2rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 72.9rem;
        height: 2.5rem;
        position: absolute;
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
      }
      .cash-code-sm-400-microcoin-sp-touch-43-ambilight--JVH {
        top: 73.5rem;
        font-size: 1.6rem;
        color: #013a51;
        width: 99rem;
        height: 9.7rem;
        position: absolute;
        left: 0;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--hA3 {
        left: 0;
        top: 88.4rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        color: #013a51;
        height: 3.9rem;
        position: absolute;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        width: 64.9rem;
      }
      .item-1-2-3-4-5-6-7-8-9-10-11--osH {
        height: 21.4rem;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        width: 54rem;
        left: 0;
        top: 97.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        position: absolute;
      }
      .item--B95 {
        position: absolute;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 42.5rem;
        height: 2.5rem;
        left: 66rem;
        top: 37rem;
        font-size: 2rem;
        color: #023a51;
      }
      .rectangle-1059-R3R {
        background-size: 100% 133.136%;
        background-position: 0rem -5.88rem;
        border-radius: 1rem;
        width: 63rem;
        top: 0;
        left: 66rem;
        background-image: url('REPLACE_IMAGE:b41b16bda1ee75e20abb9869b65154053665612b');
        height: 35.49rem;
        position: relative;
      }
      .rectangle-1058-5dm {
        position: absolute;
        left: 90.57rem;
        top: 10.71rem;
        box-sizing: border-box;
        background: linear-gradient(140.45deg, #d8253b 3.08%, rgba(255, 0, 31, 0.5799999833) 95.2%);
        border-radius: 25.5rem;
        width: 13.86rem;
        height: 13.86rem;
      }
      .vector-xxT {
        position: absolute;
        left: 93.09rem;
        top: 13.44rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.61rem;
        height: 8.61rem;
      }
    }
    .vector-169-u71 {
      left: 31.5rem;
      top: 137.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 129rem;
      height: 0rem;
      position: absolute;
    }
    .item--S6w {
      left: 31.5rem;
      top: 122.5rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #013a51;
      width: 44.9rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
      white-space: nowrap;
    }
    .item-11-12--gX5 {
      position: absolute;
      left: 31.5rem;
      top: 125.9rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      width: 106.7rem;
      font-weight: 400;
      height: 3.9rem;
    }
    .item-7-495-927-01-21-ZDV {
      height: 2rem;
      white-space: nowrap;
      align-items: baseline;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #013a51;
      width: 116rem;
      position: absolute;
      left: 31.5rem;
      top: 131.7rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;

      .item-7-495-927-01-21-ZDV-sub-0 {
      }
      .item-7-495-927-01-21-ZDV-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
    }
    .auto-group-blkd-Dqm {
      top: 141.6rem;
      display: flex;
      align-items: center;
      width: 129rem;
      height: 5.9rem;
      position: absolute;
      left: 31.5rem;

      .item--JsD {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 42.9rem;
        font-size: 4.8rem;
        font-weight: 600;
      }
      .item--cN7 {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-epyp-huM {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.1rem 0rem 0.2rem 1.1rem;
        height: 100%;
        display: flex;
        align-items: center;

        .group-48095668-2wd {
          margin-right: 1rem;
          box-sizing: border-box;
          padding: 2.022rem 2.489rem 2.022rem 2.333rem;
          height: 100%;
          background-color: #f4f4f5;
          border-radius: 2.8rem;
          flex-shrink: 0;

          .vector-gmH {
            width: 0.7778rem;
            height: 1.5556rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-48095669-12s {
          box-sizing: border-box;
          padding: 2.022rem 2.333rem 2.022rem 2.489rem;
          height: 100%;
          background-color: #0c91fc;
          border-radius: 2.8rem;
          flex-shrink: 0;

          .vector-LL3 {
            width: 0.7778rem;
            height: 1.5556rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-eg6p-e5q {
      align-items: center;
      width: 129rem;
      height: 45.7rem;
      position: absolute;
      left: 31.5rem;
      top: 150.4rem;
      display: flex;
      column-gap: 3rem;

      .group-2085654876-vJF {
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem;
        width: 41rem;
        height: 100%;
        border: solid 0.1rem #013a51;
        background-color: #ffffff;

        .rectangle-240651376-puR {
          margin-bottom: 1.5rem;
          width: 37rem;
          height: 25.5rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
        }
        .item--XJ3 {
          margin-bottom: 4.8rem;
          max-width: 36.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #013a51;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-dafv-i7d {
          margin-right: 21.7rem;
          width: calc(100% - 21.7rem);
          display: flex;
          align-items: center;

          .item--eX5 {
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.4252272844;
            color: #013a51;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0.2rem 0.1rem 0rem;
            font-size: 1.6rem;
            letter-spacing: -0.032rem;
          }
          .group-48095661-j2j {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-2085654908-33R {
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem;
        width: 41rem;
        height: 100%;
        border: solid 0.1rem #013a51;
        background-color: #ffffff;

        .rectangle-240651376-xw5 {
          margin-bottom: 1.5rem;
          width: 37rem;
          height: 25.5rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
        }
        .item--6XV {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #013a51;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 4.8rem;
          max-width: 36.6rem;
        }
        .auto-group-s3um-t5y {
          margin-right: 21.7rem;
          width: calc(100% - 21.7rem);
          display: flex;
          align-items: center;

          .item--De3 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0.2rem 0.1rem 0rem;
            font-weight: 400;
            line-height: 1.4252272844;
            letter-spacing: -0.032rem;
            color: #013a51;
            font-size: 1.6rem;
            flex-shrink: 0;
          }
          .group-48095661-KBH {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-2085654909-dxf {
        border: solid 0.1rem #013a51;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem;
        width: 41rem;
        height: 100%;

        .rectangle-240651376-Axb {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          margin-bottom: 1.5rem;
          width: 37rem;
          height: 25.5rem;
        }
        .item--hhd {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #013a51;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 4.8rem;
          max-width: 36.6rem;
        }
        .auto-group-a9c7-Wf5 {
          display: flex;
          align-items: center;
          margin-right: 21.7rem;
          width: calc(100% - 21.7rem);

          .item--Sod {
            white-space: nowrap;
            margin: 0rem 0.2rem 0.1rem 0rem;
            font-size: 1.6rem;
            line-height: 1.4252272844;
            color: #013a51;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
            letter-spacing: -0.032rem;
            flex-shrink: 0;
          }
          .group-48095661-j23 {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-s44b-q55 {
    height: 70.6rem;
    background-color: #1a5770;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.2rem 64.5rem 12.3rem 64.5rem;
    width: 100%;

    .group-2085654895-YVH {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-exom-t3M {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 4.15rem 3.9rem 4.15rem;
        width: 100%;
        align-items: center;

        .item--biT {
          font-weight: 600;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          text-align: center;
          font-size: 4.8rem;
          line-height: 1.2125;
        }
        .item--5Nj {
          font-weight: 500;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
        }
      }
      .auto-group-rvfh-LpT {
        margin-bottom: 2rem;
        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-2085654893-Uvf {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3rem;
          width: 30rem;
          height: 100%;
          position: relative;

          .item--2BV {
            width: 15.6rem;
            position: absolute;
            left: 2rem;
            top: 3rem;
            font-size: 1.6rem;
            white-space: nowrap;
            height: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-240651399-uFH {
            box-sizing: border-box;
            border-radius: 1rem;
            width: 30rem;
            height: 8rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .group-2085654894-cfV {
          width: 30rem;
          height: 100%;
          position: relative;
          border-radius: 1rem;
          flex-shrink: 0;

          .item--ZKq {
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            width: 18.7rem;
            height: 2rem;
            top: 3rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 2rem;
          }
          .rectangle-240651400-q2T {
            top: 0;
            box-sizing: border-box;
            border-radius: 1rem;
            width: 30rem;
            height: 8rem;
            position: absolute;
            left: 0;
          }
        }
      }
      .group-2085654892-A4j {
        width: 100%;
        height: 12.6rem;
        position: relative;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 2rem;

        .item--uHD {
          position: absolute;
          left: 2rem;
          top: 3rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.6rem;
          height: 2rem;
          font-size: 1.6rem;
          line-height: 1.2125;
        }
        .rectangle-240651401-bfq {
          left: 0;
          top: 0;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 63rem;
          height: 12.6rem;
          position: absolute;
        }
      }
      .group-2085654886-vi7 {
        padding: 0.7rem 0.7rem 0.7rem 1.9rem;
        width: calc(100% - 30.1rem);
        height: 8rem;
        align-items: center;
        backdrop-filter: blur(1.2rem);
        background: radial-gradient(100% 100% at 0% 0%, rgba(249, 249, 249, 0.200000003) 0%, rgba(246, 246, 246, 0.200000003) 100%);
        border-radius: 2.5rem;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 15rem 0rem 15.1rem;

        .item--pHh {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 2.2rem 3.8rem 0rem 0rem;
          max-width: 19.9rem;
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
        }
        .auto-group-uhzt-e1q {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 2rem 2rem 2rem;
          height: 100%;
          backdrop-filter: blur(1.2rem);
          background: linear-gradient(140.45deg, #4aaeff 3.08%, rgba(12, 145, 252, 0.3700000048) 95.2%);
          border-radius: 2.5rem;

          .vector-kaf {
            width: 2.6rem;
            height: 2.6rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
  .auto-group-kwp7-e3m {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.4rem 31.6rem 2.4rem 31.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #16536c;

    .auto-group-2bm5-ksV {
      height: 22.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 18.6rem 3.4rem 0rem;
      width: calc(100% - 18.6rem);

      .auto-group-cmq5-shD {
        width: 19.2rem;
        height: 100%;
        flex-shrink: 0;

        .item-3-oas {
          vertical-align: top;
          margin-bottom: 1.0047rem;
          width: 19rem;
          height: 6.1953rem;
          object-fit: contain;
        }
        .item--8d9 {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 1.1rem 0.2rem;
          max-width: 19rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .orig-1-1-9HM {
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
          margin: 0rem 0rem 1.2rem 0.1rem;
          width: 15rem;
        }
        .auto-group-14zh-Gsm {
          align-items: center;
          margin: 0rem 10.2rem 0rem 0.2rem;
          width: calc(100% - 10.4rem);
          display: flex;

          .group-1216400668-CWX {
            margin-right: 1rem;
            width: 3.9rem;
            height: 3.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .group-2085654889-ijm {
            flex-shrink: 0;
            width: 3.9rem;
            height: 3.9rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-xhg7-f9D {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.1rem 0rem 0.3rem 2.9rem;
        height: 100%;
        display: flex;

        .auto-group-bmyp-nUj {
          margin: 0rem 3rem 2.5rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--idH {
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            font-size: 1.4rem;
          }
          .item--dET {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 19rem;
          }
        }
        .auto-group-x3w1-Mpf {
          flex-shrink: 0;
          margin-right: 7.6rem;
          width: 25.4rem;
          height: 100%;

          .item--VAB {
            white-space: nowrap;
            margin-bottom: 1.6rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-s9uf-Qnw {
            margin: 0rem 0rem 1.9rem 0.2rem;
            width: calc(100% - 0.2rem);
            height: 3.8rem;
            display: flex;
            align-items: flex-start;

            .schedulefill0wght400grad0opsz48-2-w2B {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.2rem 1.2rem 0rem 0rem;
            }
            .auto-group-phes-Rxw {
              flex-shrink: 0;
              height: 100%;
              display: flex;
              flex-direction: column;

              .item--nYb {
                margin-bottom: 0.3rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #47829a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-9-00-18-00-hfZ {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-9ohu-CsD {
            margin: 0rem 6.7rem 1.9rem 0.3rem;
            width: calc(100% - 7rem);
            height: 5.7rem;
            display: flex;
            align-items: flex-start;

            .phoneintalkfill0wght400grad0opsz48-4-2-iqZ {
              flex-shrink: 0;
              margin: 0.298rem 1.3rem 0rem 0rem;
              width: 1.8rem;
              height: 1.8025rem;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-s9cf-EJ7 {
              flex-shrink: 0;
              height: 100%;
              display: flex;
              flex-direction: column;

              .item--zHH {
                line-height: 1.2125;
                color: #47829a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                font-size: 1.2rem;
                font-weight: 400;
              }
              .item-7-800-700-20-60-7-495-725-25-63-K4f {
                max-width: 15.3rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .group-2085654891-1CP {
            display: flex;
            align-items: flex-start;
            margin-right: 6rem;
            box-sizing: border-box;
            padding-left: 0.2rem;
            width: calc(100% - 6rem);
            height: 3.8rem;

            .mailfill0wght400grad0opsz48-8-2-jPH {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.4rem 1.2rem 0rem 0rem;
              width: 2rem;
              height: 1.6rem;
            }
            .auto-group-p8zp-qx7 {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item--bgP {
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #47829a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .infomoyka-waveru-7ud {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-wfjr-3oH {
          margin: 0rem 2.8rem 2.5rem 0rem;
          width: 23rem;
          flex-shrink: 0;

          .item--nVy {
            white-space: nowrap;
            margin-bottom: 1.6rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-gdf9-5zs {
            margin-right: 2rem;
            width: calc(100% - 2rem);
            display: flex;
            align-items: center;

            .item--qUF {
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 4.7rem;
              max-width: 6.9rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
            .item--69H {
              flex-shrink: 0;
              max-width: 9.4rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .item--85y {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.8rem;
          max-width: 7.5rem;
        }
      }
    }
    .vector-170-z8B {
      margin-bottom: 2.5rem;
      width: 129rem;
      height: 0rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .wave-s--vXd {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-left: 0.2rem;
      font-weight: 400;
      color: #ffffff;
      display: flex;
      align-items: baseline;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.2125;

      .wave-s--vXd-sub-0 {
      }
      .wave-s--vXd-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .wave-s--vXd-sub-2 {
      }
      .wave-s--vXd-sub-3 {
        font-weight: 400;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .wave-s--vXd-sub-4 {
      }
      .wave-s--vXd-sub-5 {
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
