
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-3-JhR {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-hchh-cy1 {
    flex-shrink: 0;
    width: 293.3865rem;
    height: 107.4rem;
    position: relative;

    .rectangle-1-6dH {
      width: 192rem;
      height: 21.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #383838 -0%, #2d2d2d 100%);
    }
    .group-10-PcP {
      border-radius: 0.3rem;
      white-space: nowrap;
      align-items: center;
      position: absolute;
      left: 53.5rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      display: flex;
      width: 12.9rem;
      height: 3rem;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #0c91fc;
      color: #ffffff;
      box-sizing: border-box;
      backdrop-filter: blur(1.2rem);
      top: 9.3rem;
      font-size: 1.6rem;
    }
    .group-11-QXV {
      width: 16.1rem;
      position: absolute;
      text-align: center;
      font-size: 1.6rem;
      backdrop-filter: blur(1.2rem);
      height: 4rem;
      left: 144.4rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      justify-content: center;
      background: linear-gradient(93.53deg, #69bdf9 0%, rgba(105, 189, 249, 0.3400000036) 100%);
      top: 8.7rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      display: flex;
      box-sizing: border-box;
      border-radius: 0.3rem;
    }
    .item--RSb {
      left: 68.4rem;
      font-size: 1.6rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.6rem;
      height: 2rem;
      position: absolute;
      top: 9.8rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .wave-s-platinum-space-WU3 {
      align-items: baseline;
      height: 1.5rem;
      position: absolute;
      top: 18.1rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;
      width: 81.4rem;
      left: 31.7rem;
      font-size: 1.2rem;
      color: #858585;
      font-family: Inter, 'Source Sans Pro';

      .wave-s-platinum-space-WU3-sub-0 {
      }
      .wave-s-platinum-space-WU3-sub-1 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .item--qYF {
      width: 10.1rem;
      left: 77.5rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      top: 9.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .item--j7q {
      height: 2rem;
      position: absolute;
      font-size: 1.6rem;
      color: #ffffff;
      white-space: nowrap;
      width: 10.8rem;
      left: 88.9rem;
      top: 9.8rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--DHu {
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      top: 9.8rem;
      white-space: nowrap;
      width: 8.3rem;
      left: 101.3rem;
      font-weight: 400;
    }
    .item--uRd {
      position: absolute;
      top: 1.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      width: 6.2rem;
      left: 34.4rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      height: 2rem;
    }
    .item-9-00-18-00-1Uf {
      white-space: nowrap;
      width: 22rem;
      height: 2rem;
      position: absolute;
      top: 1.4rem;
      font-weight: 400;
      left: 80.1rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-7-800-700-20-60-Ud9 {
      position: absolute;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      width: 15.3rem;
      height: 2rem;
      left: 106.6rem;
      top: 1.4rem;
      font-size: 1.6rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-7-495-725-25-63-yK1 {
      height: 2rem;
      position: absolute;
      left: 124.2rem;
      top: 1.4rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      width: 15.3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .infomoyka-waveru-sQP {
      width: 16rem;
      height: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      left: 144.6rem;
      top: 1.4rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-2-BR5 {
      vertical-align: top;
      width: 19rem;
      height: 6.1953rem;
      position: absolute;
      left: 31.5rem;
      top: 7.4rem;
      object-fit: contain;
    }
    .vector-2-73q {
      position: absolute;
      left: 31.5rem;
      top: 4.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 129rem;
      height: 0rem;
    }
    .vector-3-qkX {
      width: 129rem;
      height: 0rem;
      position: absolute;
      left: 31.5rem;
      top: 16.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .expandmorefill0wght400grad0opsz48-1-1-nQs {
      vertical-align: top;
      width: 1.1rem;
      height: 0.6485rem;
      position: absolute;
      left: 41.55rem;
      top: 2.0608rem;
      object-fit: contain;
    }
    .languagefill0wght400grad0opsz48-2-1-hXq {
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 31.7rem;
      top: 1.3rem;
    }
    .schedulefill0wght400grad0opsz48-1-dAb {
      height: 2rem;
      position: absolute;
      left: 76.9rem;
      top: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .phoneintalkfill0wght400grad0opsz48-4-1-kW7 {
      top: 1.4975rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.8rem;
      height: 1.8025rem;
      position: absolute;
      left: 103.5rem;
    }
    .mailfill0wght400grad0opsz48-8-1-TfR {
      width: 2rem;
      height: 1.6rem;
      position: absolute;
      left: 141.7rem;
      top: 1.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-11-z9Z {
      border-radius: 0.2rem;
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      left: 122.9rem;
      top: 2.1rem;
      background-color: #0c91fc;
    }
    .platinum-space-WNo {
      white-space: nowrap;
      height: 4.9rem;
      position: absolute;
      left: 31.5rem;
      font-size: 4rem;
      line-height: 1.2125;
      width: 57rem;
      top: 49.4rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .rectangle-240651395-cRq {
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 63rem;
      height: 64rem;
      position: absolute;
      left: 31.5rem;
      top: 24rem;
    }
    .rectangle-240651404-KLF {
      width: 15.5rem;
      height: 13rem;
      position: absolute;
      left: 38.6rem;
      top: 91rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
    }
    .rectangle-240651405-eNX {
      border-radius: 1rem;
      width: 15.4rem;
      height: 13rem;
      position: absolute;
      left: 55.3rem;
      top: 91rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-240651406-y9u {
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 15.5rem;
      height: 13rem;
      position: absolute;
      left: 71.9rem;
      top: 91rem;
    }
    .group-2085654879-W9q {
      position: absolute;
      left: 31.5rem;
      border-radius: 2.8rem;
      padding: 2.022rem 2.489rem 2.022rem 2.333rem;
      width: 5.6rem;
      height: 5.6rem;
      top: 94.7rem;
      background-color: #f4f4f5;
      box-sizing: border-box;

      .vector-D4F {
        width: 0.7778rem;
        height: 1.5556rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-2085654880-joH {
      padding: 2.022rem 2.333rem 2.022rem 2.489rem;
      width: 5.6rem;
      position: absolute;
      left: 88.9rem;
      top: 94.7rem;
      box-sizing: border-box;
      height: 5.6rem;
      background-color: #0c91fc;
      border-radius: 2.8rem;

      .vector-SSo {
        width: 0.7778rem;
        height: 1.5556rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .platinum-space-Mpf {
      height: 5.9rem;
      position: absolute;
      top: 24rem;
      font-size: 4.8rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 64.6rem;
      left: 97.5rem;
      font-weight: 600;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--rmR {
      width: 19.7rem;
      height: 2.2rem;
      top: 33.8rem;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #023a51;
      position: absolute;
      left: 97.5rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--8iw {
      width: 25.4rem;
      font-size: 1.8rem;
      font-weight: 500;
      color: #023a51;
      height: 2.2rem;
      position: absolute;
      left: 97.5rem;
      top: 50.1rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--nHh {
      position: absolute;
      left: 97.5rem;
      top: 71.2rem;
      line-height: 1.2125;
      width: 11.9rem;
      height: 2.2rem;
      font-size: 1.8rem;
      font-weight: 500;
      color: #023a51;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--cGj {
      width: 17.2rem;
      height: 2rem;
      top: 53.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 97.5rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;
      align-items: baseline;

      .item--cGj-sub-0 {
      }
      .item--cGj-sub-1 {
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .item-200--srs {
      height: 2rem;
      left: 97.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      width: 45.8rem;
      position: absolute;
      top: 74.4rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;

      .item-200--srs-sub-0 {
      }
      .item-200--srs-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--8AX {
      height: 2rem;
      top: 77.3rem;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      width: 21.5rem;
      position: absolute;
      left: 97.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';

      .item--8AX-sub-0 {
      }
      .item--8AX-sub-1 {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .item--Ts1 {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 27.6rem;
      height: 2rem;
      position: absolute;
      left: 97.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      display: flex;
      top: 80.2rem;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      align-items: baseline;

      .item--Ts1-sub-0 {
      }
      .item--Ts1-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--P8P {
      line-height: 1.2125;
      white-space: nowrap;
      align-items: baseline;
      left: 97.5rem;
      top: 83.1rem;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      width: 43.4rem;
      height: 2rem;

      .item--P8P-sub-0 {
      }
      .item--P8P-sub-1 {
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .item--sSs {
      left: 97.5rem;
      top: 86rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      font-size: 1.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      width: 55.8rem;

      .item--sSs-sub-0 {
      }
      .item--sSs-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .item--sSs-sub-2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .cashcode-T3h {
      width: 23.6rem;
      position: absolute;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      align-items: baseline;
      height: 2rem;
      left: 97.5rem;
      top: 37rem;
      font-size: 1.6rem;
      line-height: 1.2125;

      .cashcode-T3h-sub-0 {
      }
      .cashcode-T3h-sub-1 {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .microcoin-sp-q4F {
      position: absolute;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 25.5rem;
      height: 2rem;
      left: 97.5rem;
      top: 39.4rem;
      font-size: 1.6rem;
      font-weight: 400;

      .microcoin-sp-q4F-sub-0 {
      }
      .microcoin-sp-q4F-sub-1 {
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .item--NiP {
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      width: 28.2rem;
      font-weight: 400;
      left: 97.5rem;
      top: 41.8rem;
      font-size: 1.6rem;
      white-space: nowrap;
      align-items: baseline;
      height: 2rem;
      position: absolute;

      .item--NiP-sub-0 {
      }
      .item--NiP-sub-1 {
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .item--JVZ {
      position: absolute;
      left: 97.5rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);
      display: flex;
      width: 28.1rem;
      height: 2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      top: 44.2rem;
      font-size: 1.6rem;

      .item--JVZ-sub-0 {
      }
      .item--JVZ-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--35m {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #0c91fc;
      white-space: nowrap;
      width: 19.1rem;
      top: 89.4rem;
      left: 97.5rem;
      text-decoration-line: underline;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
    }
    .item--v9Z {
      white-space: nowrap;
      display: flex;
      height: 2rem;
      left: 97.5rem;
      top: 55.7rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      align-items: baseline;
      width: 19.5rem;
      position: absolute;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';

      .item--v9Z-sub-0 {
      }
      .item--v9Z-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .touch-43--5As {
      position: absolute;
      left: 97.5rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      height: 2rem;
      top: 58.1rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      align-items: baseline;
      width: 25.9rem;

      .touch-43--5As-sub-0 {
      }
      .touch-43--5As-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
    }
    .item--qpF {
      white-space: nowrap;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      top: 60.5rem;
      font-weight: 400;
      display: flex;
      align-items: baseline;
      width: 16.5rem;
      height: 2rem;
      position: absolute;
      left: 97.5rem;

      .item--qpF-sub-0 {
      }
      .item--qpF-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item-90-pgB {
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.5rem;
      left: 97.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      display: flex;
      align-items: baseline;
      height: 2rem;
      position: absolute;
      top: 62.9rem;

      .item-90-pgB-sub-0 {
      }
      .item-90-pgB-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .ambilight--Pco {
      display: flex;
      align-items: baseline;
      font-size: 1.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      left: 97.5rem;
      top: 65.3rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      width: 29.3rem;
      height: 2rem;
      position: absolute;

      .ambilight--Pco-sub-0 {
      }
      .ambilight--Pco-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .vector-161-8Tu {
      object-fit: contain;
      vertical-align: top;
      width: 63rem;
      height: 0rem;
      position: absolute;
      left: 97.5rem;
      top: 31.8rem;
    }
    .vector-164-ruh {
      width: 63rem;
      height: 0rem;
      position: absolute;
      left: 97.5rem;
      top: 48.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-165-zm1 {
      top: 69.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 63rem;
      height: 0rem;
      position: absolute;
      left: 97.5rem;
    }
    .vector-166-jTh {
      position: absolute;
      left: 97.5rem;
      top: 93.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 63rem;
      height: 0rem;
    }
    .item-587-000--t5h {
      position: absolute;
      left: 143.9rem;
      top: 95.3rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 17.6rem;
      height: 3.9rem;
      font-weight: 700;
      color: #023a51;
      white-space: nowrap;
    }
    .item--Bab {
      font-weight: 700;
      line-height: 1.2125;
      color: #023a51;
      left: 97.5rem;
      font-size: 3.2rem;
      position: absolute;
      top: 95.3rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.5rem;
      height: 3.9rem;
    }
    .group-2085654884-hYw {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      background-color: #0c91fc;
      left: 97.5rem;
      align-items: center;
      white-space: nowrap;
      font-size: 1.6rem;
      border-radius: 1rem;
      position: absolute;
      height: 5rem;
      top: 101.2rem;
      text-align: center;
      font-weight: 500;
      width: 30rem;
    }
    .group-2085654911-NQB {
      align-items: center;
      border: solid 0.1rem #013a51;
      border-radius: 1rem;
      position: absolute;
      font-weight: 500;
      white-space: nowrap;
      display: flex;
      box-sizing: border-box;
      width: 30rem;
      top: 101.2rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      left: 130.5rem;
      line-height: 1.2125;
      color: #013a51;
      justify-content: center;
      height: 5rem;
      text-align: center;
    }
  }
  .auto-group-rf1u-dL7 {
    flex-shrink: 0;
    width: 100%;
    height: 206.1rem;
    position: relative;

    .auto-group-ssth-kfd {
      width: 166.958rem;
      height: 119rem;
      position: absolute;
      left: 31.5rem;
      top: 2rem;

      .vector-168-4RR {
        vertical-align: top;
        width: 129rem;
        height: 0rem;
        position: absolute;
        left: 0;
        top: 43.4rem;
        object-fit: contain;
      }
      .item--CGj {
        left: 0;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
        width: 16.2rem;
        height: 3.9rem;
        position: absolute;
        top: 47rem;
        color: #023a51;
        font-family: Inter, 'Source Sans Pro';
      }
      .platinum-space-20-30-25--6su {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 15.6rem;
        position: absolute;
        top: 52.9rem;
        font-size: 1.6rem;
        font-weight: 400;
        width: 129.1rem;
        left: 0;
        color: #013a51;
      }
      .item--LpB {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 44.1rem;
        height: 2.5rem;
        top: 70.1rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
        position: absolute;
        left: 0;
      }
      .item--PGf {
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        font-size: 2rem;
        left: 0;
        top: 85rem;
        color: #013a51;
        white-space: nowrap;
        width: 36.1rem;
        position: absolute;
      }
      .item--rR9 {
        position: absolute;
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
        width: 72.9rem;
        height: 2.5rem;
        left: 0;
        top: 94.2rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .cash-code-sm-400-microcoin-sp-touch-43-ambilight--sLF {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        height: 9.7rem;
        position: absolute;
        left: 0;
        top: 73.5rem;
        font-size: 1.6rem;
        width: 99rem;
        font-weight: 400;
      }
      .item--3nT {
        width: 64.9rem;
        height: 3.9rem;
        position: absolute;
        font-size: 1.6rem;
        color: #013a51;
        left: 0;
        top: 88.4rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .item-1-2-3-4-5-6-7-8-9-10-11--ZuD {
        height: 21.4rem;
        top: 97.6rem;
        line-height: 1.2125;
        color: #013a51;
        width: 54rem;
        position: absolute;
        left: 0;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--er7 {
        left: 66rem;
        top: 37rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 42.5rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.2125;
        color: #023a51;
        height: 2.5rem;
      }
      .rectangle-1059-6TD {
        width: 63rem;
        height: 35.49rem;
        position: relative;
        top: 0;
        background-size: 100% 133.136%;
        border-radius: 1rem;
        left: 66rem;
        background-position: 0rem -5.88rem;
        background-image: url('REPLACE_IMAGE:b41b16bda1ee75e20abb9869b65154053665612b');
      }
      .rectangle-1058-xkK {
        box-sizing: border-box;
        background: linear-gradient(140.45deg, #d8253b 3.08%, rgba(255, 0, 31, 0.5799999833) 95.2%);
        border-radius: 25.5rem;
        width: 13.86rem;
        height: 13.86rem;
        position: absolute;
        left: 90.5699rem;
        top: 10.71rem;
      }
      .vector-e7M {
        object-fit: contain;
        vertical-align: top;
        width: 8.61rem;
        height: 8.61rem;
        position: absolute;
        left: 93.09rem;
        top: 13.44rem;
      }
    }
    .vector-169-Np3 {
      width: 129rem;
      height: 0rem;
      position: absolute;
      left: 31.5rem;
      top: 137.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--KDV {
      top: 122.5rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #013a51;
      width: 44.9rem;
      left: 31.5rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
    }
    .item-11-12--MR5 {
      height: 3.9rem;
      position: absolute;
      font-size: 1.6rem;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      width: 106.7rem;
      left: 31.5rem;
      top: 125.9rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item-7-495-927-01-21-S59 {
      width: 116rem;
      left: 31.5rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      align-items: baseline;
      color: #013a51;
      white-space: nowrap;
      display: flex;
      height: 2rem;
      position: absolute;
      top: 131.7rem;
      font-weight: 400;
      line-height: 1.2125;

      .item-7-495-927-01-21-S59-sub-0 {
      }
      .item-7-495-927-01-21-S59-sub-1 {
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .auto-group-tb6b-f8F {
      display: flex;
      align-items: center;
      width: 129rem;
      height: 5.9rem;
      position: absolute;
      left: 31.5rem;
      top: 141.6rem;

      .item--Xw9 {
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 42.9rem;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.2125;
      }
      .item--27D {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-bsek-Kc7 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.1rem 0rem 0.2rem 1.1rem;

        .group-48095668-eeP {
          margin-right: 1rem;
          box-sizing: border-box;
          padding: 2.022rem 2.489rem 2.022rem 2.333rem;
          height: 100%;
          background-color: #f4f4f5;
          border-radius: 2.8rem;
          flex-shrink: 0;

          .vector-B8X {
            width: 0.7778rem;
            height: 1.5556rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-48095669-u4X {
          height: 100%;
          background-color: #0c91fc;
          border-radius: 2.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.022rem 2.333rem 2.022rem 2.489rem;

          .vector-dmD {
            vertical-align: top;
            width: 0.7778rem;
            height: 1.5556rem;
            object-fit: contain;
          }
        }
      }
    }
    .auto-group-6xfm-y4P {
      align-items: center;
      width: 129rem;
      height: 45.7rem;
      position: absolute;
      left: 31.5rem;
      top: 150.4rem;
      display: flex;
      column-gap: 3rem;

      .group-2085654876-VHd {
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem;
        width: 41rem;
        height: 100%;
        border: solid 0.1rem #e0e7ea;

        .rectangle-240651376-p51 {
          vertical-align: top;
          border-radius: 1rem;
          margin-bottom: 1.5rem;
          width: 37rem;
          height: 25.5rem;
          object-fit: cover;
        }
        .item--KnT {
          line-height: 1.2125;
          color: #013a51;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 4.8rem;
          max-width: 36.6rem;
          font-size: 2.4rem;
          font-weight: 500;
        }
        .auto-group-wqkz-A2P {
          margin-right: 21.7rem;
          width: calc(100% - 21.7rem);
          display: flex;
          align-items: center;

          .item--J8b {
            font-size: 1.6rem;
            font-weight: 400;
            color: #013a51;
            white-space: nowrap;
            margin: 0rem 0.2rem 0.1rem 0rem;
            line-height: 1.4252272844;
            letter-spacing: -0.032rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .group-48095661-Nu9 {
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
        }
      }
      .group-2085654908-guq {
        box-sizing: border-box;
        padding: 2rem;
        width: 41rem;
        height: 100%;
        border: solid 0.1rem #e0e7ea;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-240651376-RMd {
          margin-bottom: 1.5rem;
          width: 37rem;
          height: 25.5rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
        }
        .item--x6f {
          max-width: 36.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #013a51;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 4.8rem;
        }
        .auto-group-wsn3-nbV {
          margin-right: 21.7rem;
          width: calc(100% - 21.7rem);
          display: flex;
          align-items: center;

          .item--izw {
            font-size: 1.6rem;
            letter-spacing: -0.032rem;
            white-space: nowrap;
            margin: 0rem 0.2rem 0.1rem 0rem;
            font-weight: 400;
            line-height: 1.4252272844;
            color: #013a51;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .group-48095661-cqR {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-2085654909-XhV {
        height: 100%;
        border: solid 0.1rem #e0e7ea;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem;
        width: 41rem;

        .rectangle-240651376-G9H {
          border-radius: 1rem;
          margin-bottom: 1.5rem;
          width: 37rem;
          height: 25.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .item--bST {
          margin-bottom: 4.8rem;
          max-width: 36.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #013a51;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-gzpy-Ch9 {
          align-items: center;
          margin-right: 21.7rem;
          width: calc(100% - 21.7rem);
          display: flex;

          .item--jwy {
            margin: 0rem 0.2rem 0.1rem 0rem;
            font-size: 1.6rem;
            line-height: 1.4252272844;
            letter-spacing: -0.032rem;
            color: #013a51;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
          .group-48095661-2RH {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .group-2085654913-j4o {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-zlio-UYB {
      box-sizing: border-box;
      padding: 12.2rem 64.5rem 12.3rem 64.5rem;
      width: 100%;
      height: 70.6rem;
      background: linear-gradient(180deg, #383838 -0%, #2d2d2d 100%);
      flex-shrink: 0;

      .group-2085654895-CUB {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-luix-wRm {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 4.15rem 3.9rem 4.15rem;
          width: 100%;
          align-items: center;
          display: flex;

          .item--s4X {
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 4.8rem;
            white-space: nowrap;
            margin-bottom: 0.7rem;
            font-weight: 600;
          }
          .item--MkP {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-jat3-qQf {
          height: 8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 100%;

          .group-2085654893-ad9 {
            flex-shrink: 0;
            margin-right: 3rem;
            width: 30rem;
            height: 100%;
            position: relative;
            border-radius: 1rem;

            .item--XYP {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              height: 2rem;
              left: 2rem;
              top: 3rem;
              line-height: 1.2125;
              white-space: nowrap;
              width: 15.6rem;
              position: absolute;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .rectangle-240651399-oko {
              width: 30rem;
              height: 8rem;
              position: absolute;
              left: 0;
              top: 0;
              box-sizing: border-box;
              border-radius: 1rem;
            }
          }
          .group-2085654894-Xgo {
            flex-shrink: 0;
            width: 30rem;
            height: 100%;
            position: relative;
            border-radius: 1rem;

            .item--HR5 {
              white-space: nowrap;
              width: 18.7rem;
              height: 2rem;
              position: absolute;
              left: 2rem;
              top: 3rem;
              line-height: 1.2125;
              color: #ffffff;
              font-size: 1.6rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
            }
            .rectangle-240651400-Mfq {
              width: 30rem;
              height: 8rem;
              position: absolute;
              left: 0;
              top: 0;
              box-sizing: border-box;
              border-radius: 1rem;
            }
          }
        }
        .group-2085654892-gTD {
          margin-bottom: 2rem;
          width: 100%;
          height: 12.6rem;
          position: relative;
          border-radius: 1rem;
          flex-shrink: 0;

          .item--2X5 {
            width: 11.6rem;
            height: 2rem;
            color: #ffffff;
            white-space: nowrap;
            position: absolute;
            left: 2rem;
            top: 3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-240651401-vcT {
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            border-radius: 1rem;
            width: 63rem;
            height: 12.6rem;
          }
        }
        .group-2085654886-4Cs {
          display: flex;
          align-items: center;
          background: radial-gradient(100% 100% at 0% 0%, rgba(249, 249, 249, 0.200000003) 0%, rgba(246, 246, 246, 0.200000003) 100%);
          border-radius: 2.5rem;
          flex-shrink: 0;
          margin: 0rem 15rem 0rem 15.1rem;
          box-sizing: border-box;
          height: 8rem;
          padding: 0.7rem 0.7rem 0.7rem 1.9rem;
          width: calc(100% - 30.1rem);
          backdrop-filter: blur(1.2rem);

          .item--xJF {
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 2.2rem 3.8rem 0rem 0rem;
            max-width: 19.9rem;
            font-size: 1.7rem;
            font-weight: 600;
          }
          .auto-group-hu39-2ou {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2rem 2rem 2rem 2rem;
            height: 100%;
            backdrop-filter: blur(1.2rem);
            background: linear-gradient(140.45deg, #4aaeff 3.08%, rgba(12, 145, 252, 0.3700000048) 95.2%);
            border-radius: 2.5rem;

            .vector-a4j {
              object-fit: contain;
              vertical-align: top;
              width: 2.6rem;
              height: 2.6rem;
            }
          }
        }
      }
    }
    .auto-group-fkpt-Ly1 {
      box-sizing: border-box;
      padding: 2.4rem 31.6rem 2.4rem 31.4rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #272727;
      flex-shrink: 0;

      .auto-group-jr3r-4e7 {
        width: calc(100% - 18.6rem);
        height: 22.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 18.6rem 3.4rem 0rem;

        .auto-group-bvpv-Bij {
          width: 19.2rem;
          height: 100%;
          flex-shrink: 0;

          .item-3-X1u {
            width: 19rem;
            height: 6.1953rem;
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 1.0047rem;
          }
          .item--Ewu {
            margin: 0rem 0rem 1.1rem 0.2rem;
            max-width: 19rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .orig-1-1-riP {
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            margin: 0rem 0rem 1.2rem 0.1rem;
            width: 15rem;
          }
          .auto-group-srlf-aeP {
            margin: 0rem 10.2rem 0rem 0.2rem;
            width: calc(100% - 10.4rem);
            display: flex;
            align-items: center;

            .group-1216400668-uwZ {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 3.9rem;
              height: 3.9rem;
              object-fit: contain;
            }
            .group-2085654889-SwV {
              width: 3.9rem;
              height: 3.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-pvum-Pbq {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.1rem 0rem 0.3rem 2.9rem;
          height: 100%;
          display: flex;
          align-items: center;

          .auto-group-p7d5-WwM {
            margin: 0rem 3rem 2.5rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item--Ftw {
              margin-bottom: 1.6rem;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item--aAX {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 19rem;
            }
          }
          .auto-group-sruf-WCb {
            flex-shrink: 0;
            margin-right: 7.6rem;
            width: 25.4rem;
            height: 100%;

            .item--EPV {
              margin-bottom: 1.6rem;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-2itm-kcj {
              width: calc(100% - 0.2rem);
              height: 3.8rem;
              display: flex;
              align-items: flex-start;
              margin: 0rem 0rem 1.9rem 0.2rem;

              .schedulefill0wght400grad0opsz48-2-59D {
                flex-shrink: 0;
                margin: 0.2rem 1.2rem 0rem 0rem;
                width: 2rem;
                height: 2rem;
                object-fit: contain;
                vertical-align: top;
              }
              .auto-group-xewu-yVV {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item--KpF {
                  line-height: 1.2125;
                  color: #47829a;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                }
                .item-9-00-18-00-SP5 {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #ffffff;
                }
              }
            }
            .auto-group-sms3-waj {
              align-items: flex-start;
              margin: 0rem 6.7rem 1.9rem 0.3rem;
              width: calc(100% - 7rem);
              height: 5.7rem;
              display: flex;

              .phoneintalkfill0wght400grad0opsz48-4-2-fWj {
                height: 1.8025rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.298rem 1.3rem 0rem 0rem;
                width: 1.8rem;
              }
              .auto-group-ois5-Nvw {
                flex-shrink: 0;
                height: 100%;
                display: flex;
                flex-direction: column;

                .item--vxT {
                  line-height: 1.2125;
                  color: #47829a;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                }
                .item-7-800-700-20-60-7-495-725-25-63-rbD {
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 15.3rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
            }
            .group-2085654891-kgb {
              padding-left: 0.2rem;
              width: calc(100% - 6rem);
              height: 3.8rem;
              display: flex;
              align-items: flex-start;
              margin-right: 6rem;
              box-sizing: border-box;

              .mailfill0wght400grad0opsz48-8-2-g4T {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.4rem 1.2rem 0rem 0rem;
                width: 2rem;
              }
              .auto-group-z8vo-BX1 {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item--Leo {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #47829a;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                }
                .infomoyka-waveru-GHZ {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .auto-group-yswv-zjM {
            margin: 0rem 2.8rem 2.5rem 0rem;
            width: 23rem;
            flex-shrink: 0;

            .item--8Km {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.6rem;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #ffffff;
            }
            .auto-group-iztd-piP {
              margin-right: 2rem;
              width: calc(100% - 2rem);
              display: flex;
              align-items: center;

              .item--Zfy {
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 4.7rem;
                max-width: 6.9rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
              }
              .item--p67 {
                max-width: 9.4rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .item--eaw {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.8rem;
            max-width: 7.5rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
          }
        }
      }
      .vector-165-uWs {
        height: 0rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 129rem;
      }
      .wave-s--3sy {
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        align-items: baseline;
        flex-shrink: 0;
        margin-left: 0.2rem;

        .wave-s--3sy-sub-0 {
        }
        .wave-s--3sy-sub-1 {
          line-height: 1.2125;
          text-decoration-line: underline;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
        }
        .wave-s--3sy-sub-2 {
        }
        .wave-s--3sy-sub-3 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          text-decoration-line: underline;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .wave-s--3sy-sub-4 {
        }
        .wave-s--3sy-sub-5 {
          text-decoration-line: underline;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
  }
}
