
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.mob-3-3-CDH {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-jozm-uNb {
    padding: 1.3rem 1rem 1.2rem 1rem;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(279.97deg, #262626 100%, #3a3a3a 201.09%);
    box-sizing: border-box;

    .auto-group-retv-ois {
      margin: 0rem 0rem 1.9rem 0.417rem;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .iconex-light-burger-vHh {
        width: 1.6667rem;
        height: 1.25rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.917rem 0.1rem 0rem;
      }
      .item-2-RkF {
        margin: 0.061rem 1.8rem 0rem 0rem;
        width: 10rem;
        height: 3.2606rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-10-izF {
        height: calc(100% - 1rem);
        display: flex;
        justify-content: center;
        border: solid 0.1rem #0c91fc;
        margin: 0.5rem 1.3rem 0.5rem 0rem;
        width: 12.9rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        white-space: nowrap;
        box-sizing: border-box;
        backdrop-filter: blur(1.2rem);
        font-weight: 400;
        border-radius: 0.3rem;
      }
      .group-2085654856-jPZ {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
      }
    }
    .vector-2-fo1 {
      margin-bottom: 1rem;
      width: 34rem;
      height: 0rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .wave-s-platinum-space-1M5 {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 34rem;
      font-size: 1rem;

      .wave-s-platinum-space-1M5-sub-0 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #858585;
        font-family: Inter, 'Source Sans Pro';
      }
      .wave-s-platinum-space-1M5-sub-1 {
      }
    }
  }
  .platinum-space-Y83 {
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 1.7rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #013a51;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-qdeb-4MH {
    width: 100%;
    height: 398.9rem;
    position: relative;
    flex-shrink: 0;

    .group-2085654923-4kb {
      position: absolute;
      left: 1rem;
      top: 1.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 34rem;
      height: 43.1746rem;

      .rectangle-240651395-z8T {
        width: 34rem;
        height: 34.5397rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 1.6191rem;
      }
      .auto-group-nxko-6BV {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0 0rem;
        width: calc(100% - 0.0001rem);

        .group-2085654879-cQj {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.809rem 0rem 0rem;
          width: 3.0222rem;
          height: 3.0222rem;
        }
        .rectangle-240651404-wT1 {
          object-fit: contain;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.6478rem;
          width: 8.3651rem;
          height: 7.0159rem;
        }
        .rectangle-240651405-GEP {
          object-fit: contain;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.6475rem;
          width: 8.3111rem;
          height: 7.0159rem;
        }
        .rectangle-240651406-bXZ {
          object-fit: contain;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8095rem;
          width: 8.3651rem;
          height: 7.0159rem;
        }
        .group-2085654880-jNs {
          margin-bottom: 0.0001rem;
          width: 3.0222rem;
          height: 3.0222rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .item--4g3 {
      height: 2.2rem;
      position: absolute;
      top: 48.6rem;
      font-size: 1.8rem;
      font-weight: 500;
      width: 19.7rem;
      line-height: 1.2125;
      color: #023a51;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 1rem;
    }
    .item--8fu {
      height: 2.2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      color: #023a51;
      width: 25.4rem;
      position: absolute;
      left: 1rem;
      top: 64.9rem;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.2125;
    }
    .item--oGF {
      height: 2.2rem;
      line-height: 1.2125;
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 500;
      color: #023a51;
      font-family: Inter, 'Source Sans Pro';
      width: 11.9rem;
      position: absolute;
      left: 1rem;
      top: 86rem;
    }
    .item--toV {
      height: 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      align-items: baseline;
      width: 17.2rem;
      left: 1rem;
      top: 68.1rem;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      position: absolute;

      .item--toV-sub-0 {
      }
      .item--toV-sub-1 {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .item-200--zzw {
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      width: 34rem;
      height: 3.9rem;
      font-size: 1.6rem;
      font-weight: 400;
      position: absolute;
      left: 1rem;
      top: 89.2rem;
      font-family: Inter, 'Source Sans Pro';

      .item-200--zzw-sub-0 {
      }
      .item-200--zzw-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
    }
    .item--H6s {
      position: absolute;
      left: 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      width: 21.5rem;
      height: 2rem;
      top: 93.5rem;
      line-height: 1.2125;
      display: flex;

      .item--H6s-sub-0 {
      }
      .item--H6s-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--Qao {
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      width: 27.6rem;
      left: 1rem;
      top: 95.9rem;
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      align-items: baseline;
      height: 2rem;
      position: absolute;

      .item--Qao-sub-0 {
      }
      .item--Qao-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--89R {
      top: 98.3rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      color: rgba(1, 58, 81, 0.4199999869);
      width: 34rem;
      height: 3.9rem;
      position: absolute;
      left: 1rem;

      .item--89R-sub-0 {
      }
      .item--89R-sub-1 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
      }
    }
    .item--bx7 {
      position: absolute;
      left: 1rem;
      top: 102.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      width: 33.4rem;
      height: 3.9rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);

      .item--bx7-sub-0 {
      }
      .item--bx7-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--bx7-sub-2 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
      }
    }
    .cashcode-zsm {
      align-items: baseline;
      width: 23.6rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      left: 1rem;
      top: 51.8rem;
      font-weight: 400;

      .cashcode-zsm-sub-0 {
      }
      .cashcode-zsm-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .microcoin-sp-ab5 {
      display: flex;
      align-items: baseline;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      position: absolute;
      left: 1rem;
      top: 54.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 25.5rem;
      height: 2rem;
      font-family: Inter, 'Source Sans Pro';

      .microcoin-sp-ab5-sub-0 {
      }
      .microcoin-sp-ab5-sub-1 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
      }
    }
    .item--wa3 {
      font-size: 1.6rem;
      display: flex;
      align-items: baseline;
      width: 28.2rem;
      height: 2rem;
      left: 1rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 56.6rem;
      font-weight: 400;

      .item--wa3-sub-0 {
      }
      .item--wa3-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--HnK {
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      position: absolute;
      top: 59rem;
      left: 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      width: 28.1rem;
      height: 2rem;

      .item--HnK-sub-0 {
      }
      .item--HnK-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--SHq {
      width: 19.1rem;
      left: 1rem;
      font-size: 1.6rem;
      text-decoration-line: underline;
      color: #0c91fc;
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      top: 107.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--jGw {
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      position: absolute;
      left: 1rem;
      font-size: 1.6rem;
      align-items: baseline;
      font-weight: 400;
      width: 19.5rem;
      height: 2rem;
      top: 70.5rem;

      .item--jGw-sub-0 {
      }
      .item--jGw-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .touch-43--6mh {
      width: 25.9rem;
      left: 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      align-items: baseline;
      height: 2rem;
      position: absolute;
      top: 72.9rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;

      .touch-43--6mh-sub-0 {
      }
      .touch-43--6mh-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .item--thZ {
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 16.5rem;
      top: 75.3rem;
      font-size: 1.6rem;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      height: 2rem;
      position: absolute;
      left: 1rem;

      .item--thZ-sub-0 {
      }
      .item--thZ-sub-1 {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .item-90-Uvf {
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      white-space: nowrap;
      align-items: baseline;
      position: absolute;
      top: 77.7rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      width: 11.5rem;
      height: 2rem;
      left: 1rem;

      .item-90-Uvf-sub-0 {
      }
      .item-90-Uvf-sub-1 {
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .ambilight--J91 {
      left: 1rem;
      top: 80.1rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: rgba(1, 58, 81, 0.4199999869);
      display: flex;
      align-items: baseline;
      width: 29.3rem;
      height: 2rem;
      position: absolute;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;

      .ambilight--J91-sub-0 {
      }
      .ambilight--J91-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
    }
    .vector-161-Uxb {
      top: 46.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 34rem;
      height: 0rem;
      position: absolute;
      left: 1rem;
    }
    .vector-164-pmZ {
      width: 34rem;
      height: 0rem;
      position: absolute;
      left: 1rem;
      top: 62.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-165-xcs {
      width: 34rem;
      height: 0rem;
      position: absolute;
      left: 1rem;
      top: 84rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-166-6yy {
      top: 111.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 34rem;
      height: 0rem;
      position: absolute;
      left: 1rem;
    }
    .auto-group-jhmm-Fby {
      top: 113.3rem;
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 3rem;
      position: absolute;
      left: 1rem;

      .item--nbu {
        line-height: 1.2125;
        color: #023a51;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.8rem;
        font-size: 2.4rem;
        font-weight: 500;
      }
      .item-587-000--ugX {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #023a51;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-2085654884-Eio {
      height: 5rem;
      left: 1rem;
      top: 117.2rem;
      line-height: 1.2125;
      white-space: nowrap;
      font-size: 1.6rem;
      display: flex;
      width: 34rem;
      position: absolute;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      background-color: #0c91fc;
      text-align: center;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 1rem;
    }
    .group-2085654911-VPq {
      width: 34rem;
      font-size: 1.6rem;
      display: flex;
      position: absolute;
      align-items: center;
      box-sizing: border-box;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
      height: 5rem;
      left: 1rem;
      top: 123.2rem;
      line-height: 1.2125;
      text-align: center;
      font-weight: 500;
      justify-content: center;
      border: solid 0.1rem #013a51;
    }
    .group-2085654924-xHR {
      position: absolute;
      left: 1rem;
      top: 129.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 34rem;
      height: 21.9683rem;

      .auto-group-yfkr-Hab {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        background-size: 100% 133.136%;
        flex-shrink: 0;
        margin-bottom: 0.8149rem;
        height: 19.1533rem;
        background-position: 0rem -3.1733rem;
        background-image: url('REPLACE_IMAGE:b41b16bda1ee75e20abb9869b65154053665612b');
        border-radius: 1rem;

        .rectangle-1058-d8f {
          width: 7.48rem;
          height: 7.48rem;
          position: absolute;
          left: 13.26rem;
          top: 5.78rem;
          box-sizing: border-box;
          background: linear-gradient(140.45deg, #d8253b 3.08%, rgba(255, 0, 31, 0.5799999833) 95.2%);
          border-radius: 25.5rem;
        }
        .vector-73q {
          left: 14.6199rem;
          top: 7.2533rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.6467rem;
          height: 4.6467rem;
          position: absolute;
        }
        .auto-group-yfkr-Hab-bg {
          height: 19.1533rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:b41b16bda1ee75e20abb9869b65154053665612b');
          width: 34rem;
        }
      }
      .item--k6o {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #023a51;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .vector-168-CDh {
      height: 0rem;
      position: absolute;
      left: 1rem;
      top: 153.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 34rem;
    }
    .item--jUX {
      position: absolute;
      top: 155.1rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 16.2rem;
      left: 1rem;
      font-weight: 700;
      color: #023a51;
      white-space: nowrap;
      height: 3.9rem;
    }
    .platinum-space-20-30-25--EAP {
      left: 1rem;
      top: 160rem;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #013a51;
      width: 34.1rem;
      height: 28.9rem;
      position: absolute;
    }
    .item--Zdu {
      font-size: 1.6rem;
      font-weight: 500;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      width: 35.3rem;
      height: 2rem;
      top: 189.4rem;
      white-space: nowrap;
      position: absolute;
      left: 1rem;
      line-height: 1.2125;
    }
    .item--oYF {
      height: 2rem;
      position: absolute;
      left: 1rem;
      top: 212.7rem;
      line-height: 1.2125;
      width: 28.9rem;
      font-weight: 500;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
    }
    .item--4j5 {
      left: 1rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #013a51;
      width: 34.1rem;
      height: 3.9rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      top: 222.4rem;
    }
    .item--Gq9 {
      top: 251rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      width: 33.6rem;
      height: 3.9rem;
      position: absolute;
      left: 1rem;
      font-weight: 500;
    }
    .cash-code-sm-400-microcoin-sp-touch-43-ambilight--veo {
      height: 18.7rem;
      position: absolute;
      left: 1rem;
      top: 191.8rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #013a51;
      width: 34.1rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
    }
    .item--YCK {
      height: 6.8rem;
      position: absolute;
      font-size: 1.4rem;
      font-weight: 400;
      color: #013a51;
      width: 33.6rem;
      left: 1rem;
      top: 215.1rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-1-2-3-4-5-6-7-8-9-10-11--rsD {
      top: 226.7rem;
      color: #013a51;
      width: 34rem;
      position: absolute;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 23.8rem;
      left: 1rem;
    }
    .item-11-12--e4K {
      line-height: 1.2125;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      left: 1rem;
      top: 255.3rem;
      font-size: 1.4rem;
      font-weight: 400;
      width: 33.9rem;
      height: 6.8rem;
      position: absolute;
    }
    .item-7-495-927-01-21-7s1 {
      font-weight: 400;
      line-height: 1.2102272851;
      color: #013a51;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 1rem;
      top: 262.6rem;
      font-size: 1.4rem;
      width: 34rem;
      height: 5.1rem;

      .item-7-495-927-01-21-7s1-sub-0 {
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .item-7-495-927-01-21-7s1-sub-1 {
        color: #0c91fc;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .vector-169-ZF9 {
      top: 270.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 34rem;
      height: 0;
      position: absolute;
      left: 1rem;
    }
    .auto-group-4hkh-hMM {
      width: 34rem;
      height: 5.9rem;
      position: absolute;
      left: 1rem;
      top: 273.7rem;
      display: flex;
      align-items: center;

      .item--RYF {
        font-weight: 600;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4.3rem;
        max-width: 19rem;
        font-size: 2.4rem;
      }
      .group-2085654925-j39 {
        margin: 0rem 0.877rem 0.189rem 0rem;
        width: 4.9115rem;
        height: 4.9115rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-2085654918-r7m {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1885rem;
        width: 4.9115rem;
        height: 4.9115rem;
      }
    }
    .item--mkX {
      position: absolute;
      left: 1rem;
      top: 280.5rem;
      font-weight: 500;
      font-family: Inter, 'Source Sans Pro';
      width: 20.6rem;
      height: 2rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #0c91fc;
      white-space: nowrap;
    }
    .group-2085654876-Sbm {
      border-radius: 1rem;
      padding: 1.659rem 1.658rem 1.061rem 1.659rem;
      width: 34rem;
      height: 36.5rem;
      position: absolute;
      background-color: #ffffff;
      box-sizing: border-box;
      left: 1rem;
      top: 283.9rem;
      border: solid 0.1rem #e0e7ea;

      .rectangle-240651376-LSF {
        width: 30.6829rem;
        height: 21.1463rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        margin-bottom: 1.0439rem;
      }
      .item--exj {
        margin-bottom: 3.3732rem;
        max-width: 30.4rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-t5pf-Hko {
        width: 12.8878rem;
        height: 3.3171rem;
        position: relative;

        .item--q1d {
          height: 2rem;
          line-height: 1.4252273015;
          letter-spacing: -0.028rem;
          color: #013a51;
          white-space: nowrap;
          width: 9.7rem;
          position: absolute;
          left: 0;
          top: 0.6634rem;
          font-size: 1.4rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .group-48095661-WtT {
          position: absolute;
          left: 9.5707rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.3171rem;
          height: 3.3171rem;
        }
      }
    }
    .group-2085654919-1qD {
      left: 1rem;
      border: solid 0.1rem #e0e7ea;
      box-sizing: border-box;
      height: 36.5rem;
      position: absolute;
      background-color: #ffffff;
      border-radius: 1rem;
      padding: 1.659rem 1.658rem 1.061rem 1.659rem;
      width: 34rem;
      top: 321.9rem;

      .rectangle-240651376-vBV {
        border-radius: 1rem;
        margin-bottom: 1.0439rem;
        width: 30.6829rem;
        height: 21.1463rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item--3X1 {
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 3.3732rem;
        max-width: 30.4rem;
        font-size: 2rem;
      }
      .auto-group-tpk9-g4B {
        width: 12.8878rem;
        height: 3.3171rem;
        position: relative;

        .item--DZu {
          height: 2rem;
          position: absolute;
          font-size: 1.4rem;
          line-height: 1.4252273015;
          letter-spacing: -0.028rem;
          color: #013a51;
          font-family: Inter, 'Source Sans Pro';
          width: 9.7rem;
          left: 0;
          top: 0.6634rem;
          font-weight: 400;
          white-space: nowrap;
        }
        .group-48095661-uSj {
          width: 3.3171rem;
          height: 3.3171rem;
          position: absolute;
          left: 9.5707rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .group-2085654920-Q8b {
      left: 1rem;
      top: 359.9rem;
      background-color: #ffffff;
      border-radius: 1rem;
      box-sizing: border-box;
      width: 34rem;
      height: 36.5rem;
      padding: 1.659rem 1.658rem 1.061rem 1.659rem;
      position: absolute;
      border: solid 0.1rem #e0e7ea;

      .rectangle-240651376-hdV {
        height: 21.1463rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        margin-bottom: 1.0439rem;
        width: 30.6829rem;
      }
      .item--RpP {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #013a51;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 3.3732rem;
        max-width: 30.4rem;
      }
      .auto-group-9sk7-fij {
        height: 3.3171rem;
        position: relative;
        width: 12.8878rem;

        .item--1Xh {
          font-weight: 400;
          letter-spacing: -0.028rem;
          width: 9.7rem;
          left: 0;
          top: 0.6634rem;
          font-size: 1.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          line-height: 1.4252273015;
          color: #013a51;
        }
        .group-48095661-JWo {
          width: 3.3171rem;
          height: 3.3171rem;
          position: absolute;
          left: 9.5707rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-843m-Cs5 {
    flex-direction: column;
    background: linear-gradient(180deg, #383838 -0%, #2d2d2d 100%);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 1rem 5.5rem 0.7rem;
    width: 100%;
    align-items: center;
    display: flex;

    .item--vHH {
      font-size: 2.4rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      text-align: center;
      line-height: 1.2125;
      color: #ffffff;
    }
    .item--2LK {
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0.1rem 2.8rem 0rem;
      text-align: center;
      font-size: 1.5rem;
      flex-shrink: 0;
    }
    .group-2085654893-UCK {
      width: 34rem;
      height: 8rem;
      position: relative;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 1.5rem 0.3rem;

      .item--bGw {
        position: absolute;
        top: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        width: 15.6rem;
        height: 2rem;
        left: 2rem;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
      }
      .rectangle-240651399-5C7 {
        left: 0;
        top: 0;
        box-sizing: border-box;
        border-radius: 1rem;
        width: 34rem;
        height: 8rem;
        position: absolute;
      }
    }
    .group-2085654894-PyV {
      flex-shrink: 0;
      margin: 0rem 0rem 1.5rem 0.3rem;
      width: 34rem;
      height: 8rem;
      position: relative;
      border-radius: 1rem;

      .item--vyR {
        color: #ffffff;
        white-space: nowrap;
        width: 18.7rem;
        height: 2rem;
        position: absolute;
        left: 2rem;
        top: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-240651400-DSj {
        border-radius: 1rem;
        width: 34rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
      }
    }
    .group-2085654892-9LP {
      margin: 0rem 0rem 1.5rem 0.3rem;
      width: 34rem;
      height: 12.6rem;
      position: relative;
      border-radius: 1rem;
      flex-shrink: 0;

      .item--snB {
        width: 11.6rem;
        height: 2rem;
        position: absolute;
        left: 2rem;
        font-size: 1.6rem;
        top: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-240651401-m6s {
        border-radius: 1rem;
        width: 34rem;
        height: 12.6rem;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
      }
    }
    .group-2085654886-VYf {
      display: flex;
      background: radial-gradient(100% 100% at 0% 0%, rgba(249, 249, 249, 0.200000003) 0%, rgba(246, 246, 246, 0.200000003) 100%);
      border-radius: 2.5rem;
      margin: 0 0.7rem;
      padding: 0.7rem 0.7rem 0.7rem 1.9rem;
      height: 8rem;
      align-items: center;
      backdrop-filter: blur(1.2rem);
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 1.4rem);

      .item--zkK {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 2.2rem 3.8rem 0rem 0rem;
        max-width: 19.9rem;
      }
      .auto-group-8xb9-UQb {
        box-sizing: border-box;
        padding: 2rem 2rem 2rem 2rem;
        height: 100%;
        backdrop-filter: blur(1.2rem);
        background: linear-gradient(140.45deg, #4aaeff 3.08%, rgba(12, 145, 252, 0.3700000048) 95.2%);
        border-radius: 2.5rem;
        flex-shrink: 0;

        .vector-pDZ {
          width: 2.6rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-p2xu-NPV {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.4rem 1rem 3.7rem 1rem;

    .item-3-FTH {
      margin-bottom: 1.0047rem;
      width: 19rem;
      height: 6.1953rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--yPH {
      flex-shrink: 0;
      margin-bottom: 1rem;
      max-width: 33.1rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-bls7-CWw {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.6rem;

      .orig-1-1-jWs {
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 10.2rem;
        width: 15rem;
      }
      .group-1216400668-Fk7 {
        margin: 0rem 1rem 0.1rem 0rem;
        width: 3.9rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-2085654889-yg7 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 3.9rem;
        height: 3.9rem;
      }
    }
    .item--hs1 {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
    }
    .item--QFd {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2rem;
      max-width: 27.1rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item--XUf {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .group-2085654922-epB {
      margin: 0rem 8.6rem 1.9rem 0rem;
      box-sizing: border-box;
      padding-left: 0.2rem;
      width: calc(100% - 8.6rem);
      height: 3.8rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .schedulefill0wght400grad0opsz48-2-xK5 {
        flex-shrink: 0;
        margin: 0.2rem 1.2rem 0rem 0rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-qqxh-Gaf {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--2Zq {
          line-height: 1.2125;
          color: #47829a;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .item-9-00-18-00-M6K {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
    .group-2085654921-rYs {
      box-sizing: border-box;
      padding-left: 0.3rem;
      width: calc(100% - 15.3rem);
      height: 5.7rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 15.3rem 1.9rem 0rem;

      .phoneintalkfill0wght400grad0opsz48-4-2-ApT {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.297rem 1.3rem 0rem 0rem;
        width: 1.8rem;
        height: 1.8025rem;
        object-fit: contain;
      }
      .auto-group-pygb-UaF {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--SX5 {
          margin-bottom: 0.3rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #47829a;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-7-800-700-20-60-7-495-725-25-63-xkK {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 15.3rem;
        }
      }
    }
    .group-2085654891-Twy {
      flex-shrink: 0;
      margin: 0rem 14.6rem 1.9rem 0rem;
      box-sizing: border-box;
      padding-left: 0.2rem;
      width: calc(100% - 14.6rem);
      height: 3.8rem;
      display: flex;
      align-items: flex-start;

      .mailfill0wght400grad0opsz48-8-2-yfR {
        margin: 0.4rem 1.2rem 0rem 0rem;
        width: 2rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-preb-tnP {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--F79 {
          line-height: 1.2125;
          color: #47829a;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .infomoyka-waveru-NhZ {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .item--uhV {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .auto-group-gqtf-ons {
      margin-bottom: 0.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--ky1 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4.7rem;
        max-width: 6.9rem;
      }
      .item--Qnf {
        flex-shrink: 0;
        margin-right: 4.8rem;
        max-width: 9.4rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--eBD {
        max-width: 7.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .vector-170-iRy {
      flex-shrink: 0;
      margin: 0rem 0rem 3rem 0.2rem;
      width: 33.8rem;
      height: 0rem;
      object-fit: contain;
      vertical-align: top;
    }
    .wave-s--Ssm {
      max-width: 29.7rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3126877708;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 100%;
      flex-shrink: 0;

      .wave-s--Ssm-sub-0 {
      }
      .wave-s--Ssm-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3126877708;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .wave-s--Ssm-sub-2 {
      }
      .wave-s--Ssm-sub-3 {
        line-height: 1.3126877708;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .wave-s--Ssm-sub-4 {
        line-height: 1.3126877708;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
