<section>
    <li class="products__item">
        <div class="products__maincontent">
            <div class="products__image">
                <img [src]="data.imagePath | imageUrl" alt="Products" class="products__img" />
            </div>
            <h3 class="products__title">
                {{data.name}}
            </h3>
            <div class="products__type">
                <span class="products__type__span">Тип:</span>
                <p class="products__type__info">{{data.type}}</p>
            </div>
            <div class="products__details">
                <ul class="products__details__list">
                    <li class="products__details__item">
                        <span>Корпус:</span>
                        {{data.frame}}
                    </li>
                    <li class="products__details__item">
                        <span>Монтируется:</span>
                        {{data.mounted}}
                    </li>
                    <li class="products__details__item">
                        <span>Экран:</span>
                        {{data.screen}}
                    </li>
                    <li class="products__details__item">
                        <span>Кнопки:</span>
                        {{data.buttons}}
                    </li>
                    <li class="products__details__item">
                        <span>Подсветка:</span>
                        {{data.backlight}}
                    </li>
                    <li class="products__details__item">
                        <span>Подсветка:</span>
                        {{data.weight}}
                    </li>
                </ul>
            </div>
            <div class="products__payments">
                <h1 class="products__payments__subtitle">
                    <a [routerLink]="['/details', data.id]">Показать все функции</a>
                </h1>
            </div>
            <div class="products__price">
                <span class="products__price__cost"> {{data.price}} $ </span>
                <a href="products#request" class="products__price__link products__order__link">
                    Заказать
                </a>
            </div>
        </div>
    </li>
</section>