.advantages {
  margin-top: 140px;

  .container {
    @include flex(column);
    gap: 30px;
  }
}

.advantages__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.advantages__list_one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.advantages__item_one {
  height: 269px;
  font-size: 24px;
  font-weight: 500;
  @include flex(column);
  justify-content: space-between;
  gap: 70px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
}

.advantages__list_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  .advantages__item_two:nth-child(1) {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background: linear-gradient(180deg, #39a7ff 0%, #008dff 100%);
    text-transform: uppercase;
  }
}

.advantages__item_two {
  height: 269px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
  @include flex(column);
  justify-content: center;
  gap: 15px;
}

.advantages__item_two__info {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.2px;
}

.advantages__item_two__title {
  font-size: 48px;
  font-weight: 400;

  span {
    font-weight: 800;
  }
}

.advantages__list_thr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.advantages__item_thr {
  height: 200px;
  @include flex(column);
  justify-content: center;
  gap: 10px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
}

.advantages__item_thr__title {
  font-size: 24px;
  font-weight: 500;
}

.advantages__item_thr__info {
  font-size: 16px;
  font-weight: 500;
}

.advantages__list_four {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  .advantages__item_four:nth-child(2) {
    background-image: url("/img/adv__four__bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.advantages__item_four {
  height: 201px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
  @include flex(row);
  padding: 25px;
}
