.footer {
  background: #17546c;

  .container {
    @include flex(column);
    align-items: center;
  }
}

.footer__content {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  @include flex(row);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 75px;
}

.footer__details {
  max-width: 190px;
  @include flex(column);
  gap: 10px;
}

.footer__details__info {
  font-size: 12px;
  font-weight: 400;
}

.footer__ratings__img {
  max-width: 165px;
}

.footer__details__socials {
  @include flex(row);
  gap: 10px;
}

.footer__equip {
  max-width: 190px;
  @include flex(column);
  gap: 15px;
  margin-top: 25px;
}

.footer__equip__title {
  font-size: 14px;
  font-weight: 600;
}

.footer__equip__list {
  @include flex(column);
  gap: 15px;
}

.footer__contacts {
  max-width: 190px;
  @include flex(column);
  gap: 15px;
  margin-top: 25px;
}

.footer__contacts__list {
  @include flex(column);
  gap: 15px;

  .footer__contacts__item:nth-child(1) {
    background-image: url("/img/footer__contacts1.svg");
  }

  .footer__contacts__item:nth-child(2) {
    background-image: url("/img/footer__contacts2.svg");
  }

  .footer__contacts__item:nth-child(3) {
    background-image: url("/img/footer__contacts3.svg");
  }
}

.footer__contacts__item {
  @include flex(column);
  padding-left: 35px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left top;
}

.footer__contacts__info {
  color: #47829a;
  font-size: 12px;
}

.footer__cities {
  @include flex(column);
  gap: 15px;
  margin-top: 25px;
  font-size: 12px;
}

.footer__cities__list {
  height: 150px;
  @include flex(column);
  column-gap: 45px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.footer__copyright {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
  @include flex(row);
  justify-content: center;
  gap: 5px;

  a {
    text-decoration: underline;
  }
}
