@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --bg: linear-gradient(100deg, #1b5871 0%, #104f68 101.09%);
  --lightBg: linear-gradient(100deg, #262626 0%, #3a3a3a 101.09%);
  --blue: #f8edff;
  --lightBlue: #f8edff;
}

body.dark-mode {
  background: var(--bg);
}

body.dark-mode .advantages__item_one,
body.dark-mode .advantages__list_two .advantages__item_two:nth-child(2),
body.dark-mode .advantages__item_thr,
body.dark-mode .advantages__list_four .advantages__item_four:nth-child(1),
body.dark-mode .partners__list,
body.dark-mode .products__page__header {
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
}

body.dark-mode .footer {
  background: #17546c;
}

body.light-mode {
  background: var(--lightBg);
}

body.light-mode .advantages__item_one,
body.light-mode .advantages__list_two .advantages__item_two:nth-child(2),
body.light-mode .advantages__item_thr,
body.light-mode .advantages__list_four .advantages__item_four:nth-child(1),
body.light-mode .partners__list,
body.light-mode .products__page__header {
  background: linear-gradient(180deg, #393939 0%, #2e2e2e 100%);
}

body.light-mode .footer {
  background: #272727;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.atom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* scrollbar styling start */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightBg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightBlue);
}

/* loader styling start */
.loader {
  width: 100%;
  height: 100vh;
  background-color: #104f68;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

@keyframes ldio-rpinwye8j0b {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ldio-rpinwye8j0b div {
  position: absolute;
  animation: ldio-rpinwye8j0b 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 var(--blue);
  transform-origin: 80px 82px;
}

.loadingio-eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-rpinwye8j0b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-rpinwye8j0b div {
  box-sizing: content-box;
}

/* loader styling end */
.header .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header__details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__details__location {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.header__details__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.header__details__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.header__content {
  width: 100%;
  padding-top: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 37px;
  flex-shrink: 1;
}

.header__navbar img {
  width: 190px;
}

.header__navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.header__content__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.header__navbar__link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  border-bottom: 1px solid transparent;
  padding: 5px;
}

.header__navbar__link:hover {
  border-bottom: 1px solid #0c91fc;
}

.order__call {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid var(--kn-2, #69bdf9);
  background: var(--kn, linear-gradient(94deg, #69bdf9 0%, rgba(105, 189, 249, 0.34) 100%));
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  padding: 9px 11px;
}

.order__call:hover {
  background: var(--kn, linear-gradient(94deg, #69bdf9 100%, rgba(105, 189, 249, 0.34) 0%));
}

.intro {
  width: 100%;
  height: 750px;
}

.intro .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  align-items: flex-end;
  justify-content: space-between;
  gap: 100px;
  background-image: url("/assets/images/intro__img.png");
  background-size: 645px;
  background-position: right center;
  background-repeat: no-repeat;
}

.intro__content {
  width: 100%;
  max-width: 625px;
  margin-top: 50px;
}

.intro__content .get__consultation {
  width: -moz-max-content;
  width: max-content;
}

.intro__title {
  font-size: 48px;
  font-weight: 600;
}

.intro__advantages__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 40px;
}

.intro__advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.intro__advantages__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 16px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: radial-gradient(141.42% 141.42% at 0% 0%, rgba(250, 250, 250, 0.2) 0%, rgba(246, 246, 246, 0) 100%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.intro__advantages__img {
  width: 48px;
  height: 48px;
}

.get__consultation {
  color: var(--white);
  text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.21);
  font-size: 17px;
  font-weight: 600;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: radial-gradient(141.42% 141.42% at 0% 0%, rgba(250, 250, 250, 0.2) 0%, rgba(246, 246, 246, 0) 100%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  gap: 30px;
  padding: 7px 7px 7px 20px;
  margin-top: 60px;
}

.get__consultation::after {
  content: "";
  width: 66px;
  height: 66px;
  background-image: url("/assets/images/get__consultation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro__blogs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin-top: 30px;
}

.intro__blogs__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.intro__blogs__image {
  width: 100%;
  height: 169px;
  overflow: hidden;
  border-radius: 10px;
}

.intro__blogs__image:hover img {
  transform: scale(1.05);
}

.intro__blogs__list .intro__blogs__item:nth-child(2) .intro__blogs__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  align-items: flex-start;
  padding: 12px;
}

.intro__blogs__list .intro__blogs__item:nth-child(2) .intro__blogs__image img {
  width: 66px;
  height: 66px;
}

.intro__blogs__list .intro__blogs__item:nth-child(2) .intro__blogs__image:hover img {
  transform: scale(1);
}

.intro__blogs__content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 7px;
}

.intro__blogs__title {
  font-size: 20px;
  font-weight: 600;
}

.intro__image__section {
  width: 100%;
  max-width: 625px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro__image__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-around;
}

.intro__image__content:before {
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("/assets/images/intro__image__arrow1.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.intro__image__content::after {
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("/assets/images/intro__image__arrow2.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.intro__image__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.intro__image__title {
  font-size: 20px;
  font-weight: 400;
}

.intro__image__link {
  color: #4aaeff;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}

.advantages {
  margin-top: 140px;
}

.advantages .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

.advantages__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.advantages__list_one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.advantages__item_one {
  height: 269px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
  gap: 70px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
}

.advantages__list_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.advantages__list_two .advantages__item_two:nth-child(1) {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #39a7ff 0%, #008dff 100%);
  text-transform: uppercase;
}

.advantages__item_two {
  height: 269px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  justify-content: center;
  gap: 15px;
}

.advantages__item_two__info {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.2px;
}

.advantages__item_two__title {
  font-size: 48px;
  font-weight: 400;
}

.advantages__item_two__title span {
  font-weight: 800;
}

.advantages__list_thr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.advantages__item_thr {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
}

.advantages__item_thr__title {
  font-size: 24px;
  font-weight: 500;
}

.advantages__item_thr__info {
  font-size: 16px;
  font-weight: 500;
}

.advantages__list_four {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.advantages__list_four .advantages__item_four:nth-child(2) {
  background-image: url("/assets/images/adv__four__bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item_four {
  height: 201px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 25px;
}

.partners {
  margin-top: 60px;
}

.partners__list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  gap: 50px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(180deg, #26627a 0%, #14526b 100%);
}

.products {
  margin-top: 80px;
  padding-top: 80px;
  background-color: var(--white);
  color: #013a51;
}

.products__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
}

.products__maintitle {
  font-size: 48px;
  font-weight: 600;
}

.products__switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.products__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-right: 10px;
  color: #0c91fc;
  font-size: 20px;
  font-weight: 500;
}

.products__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.products__item {
  height: 901px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #013a51;
  background: var(--white);
}

.products__maincontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  justify-content: flex-start;
}

.products__image {
  width: 370px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.products__title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__type__span {
  color: rgba(1, 58, 81, 0.42);
  font-size: 16px;
  font-weight: 400;
}

.products__type__info {
  font-size: 18px;
  font-weight: 500;
}

.products__details {
  width: 100%;
}

.products__details__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__details__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.products__details__item span {
  color: rgba(1, 58, 81, 0.42);
}

.products__payments {
  width: 100%;
}

.products__payments__subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__payments__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.products__payments__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.products__payments__item span {
  color: rgba(1, 58, 81, 0.42);
}

.products__payments__item:not(:first-child) {
  color: #0c91fc;
}

.products__price {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
}

.products__price__cost {
  font-size: 24px;
  font-weight: 500;
}

.products__price__link {
  width: 100%;
  max-width: 365px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: center;
  text-align: center;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background: #0c91fc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.products__order__link {
  max-width: 200px;
}

.news {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--white);
  color: #013a51;
}

.news__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.news__item {
  border-radius: 10px;
  border: 1px solid #013a51;
  background: var(--white);
  padding: 20px;
}

.news__subtitle {
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
}

.news__subinfo {
  margin-top: 10px;
}

.news__item__details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  margin-top: 20px;
}

.news__item__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.news__item__date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.request {
  padding-top: 132px;
  padding-bottom: 132px;
}

.request .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reqeust__header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.request__title {
  color: var(--white);
  font-size: 48px;
  font-weight: 600;
}

.request__info {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
}

.request__form__content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
}

.request__form {
  width: 100%;
  max-width: 625px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 20px;
}

#fname,
#tel {
  width: 285px;
  height: 80px;
  border-radius: 10px;
  background: transparent;
  color: var(--white);
  outline: none;
  padding: 30px 20px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

#comment {
  width: 100%;
  height: 125px;
  border-radius: 10px;
  background: transparent;
  color: var(--white);
  outline: none;
  padding: 30px 20px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  align-items: flex-start;
}

.show__dialog {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -1;
}

.show__dialog__box {
  width: 600px;
  height: 500px;
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--1, linear-gradient(100deg, #1b5871 0%, #104f68 101.09%));
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.show__dialog__box>svg {
  margin-top: 75px;
}

.show__dialog__title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 16px;
}

.show__dialog__info {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}

.footer {
  background: #17546c;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
}

.footer__content {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 75px;
}

.footer__details {
  max-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.footer__details__info {
  font-size: 12px;
  font-weight: 400;
}

.footer__ratings__img {
  max-width: 165px;
}

.footer__details__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.footer__equip {
  max-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.footer__equip__title {
  font-size: 14px;
  font-weight: 600;
}

.footer__equip__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.footer__contacts {
  max-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.footer__contacts__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.footer__contacts__list .footer__contacts__item:nth-child(1) {
  background-image: url("/assets/images/footer__contacts1.svg");
}

.footer__contacts__list .footer__contacts__item:nth-child(2) {
  background-image: url("/assets/images/footer__contacts2.svg");
}

.footer__contacts__list .footer__contacts__item:nth-child(3) {
  background-image: url("/assets/images/footer__contacts3.svg");
}

.footer__contacts__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left top;
}

.footer__contacts__info {
  color: #47829a;
  font-size: 12px;
}

.footer__cities {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  font-size: 12px;
}

.footer__cities__list {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  -moz-column-gap: 45px;
  column-gap: 45px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.footer__copyright {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  justify-content: center;
  gap: 5px;
}

.footer__copyright a {
  text-decoration: underline;
}

.products__page {
  background-color: var(--white);
  color: #023a51;
}

.products__page .products__item {
  height: 958px;
}

.products__page__header {
  margin-top: 25px;
  padding-bottom: 60px;
  background: var(--1, linear-gradient(100deg, #1b5871 0%, #104f68 101.09%));
}

.products__page__header .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.products__page__header__info {
  width: 100%;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
  color: var(--1, #868686);
  font-size: 12px;
  font-weight: 400;
}

.products__page__header__info span {
  color: var(--white);
}

.products__page__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  margin-top: 5px;
}

.products__page__categories__list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.products__page__categories__list .products__page__categories__item:nth-child(1) {
  color: var(--white);
  background: #0c91fc;
}

.products__page__categories__item {
  color: #092433;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  border-radius: 8px;
  background: #f4f4f5;
  padding: 10px;
  cursor: pointer;
}

.products__page__categories__item:hover {
  color: var(--white);
  background: #0c91fc;
}

/*# sourceMappingURL=main.css.map */