.glavniy {
    font-size: 120%;
}

.show-dialog {
    width: 600px;
    height: 500px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 1000;
}



.show-dialog-box {
    width: 600px;
    height: 500px;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* background: var(--1, linear-gradient(100deg, #1b5871 0%, #104f68 101.09%)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.show-dialog-box>svg {
    margin-top: 75px;
}

.show-dialog-title {
    font-size: 40px;
    font-weight: 1000;
    margin-top: 16px;
    color: #104f68;
}

.show-dialog-info {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    color: #104f68
}