.header {
  .container {
    @include flex(column);
  }
}

.header__details {
  width: 100%;
  @include flex(row);
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__details__location {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  @include flex(row);
  gap: 5px;
}

.header__details__list {
  @include flex(row);
  gap: 20px;
}

.header__details__item {
  @include flex(row);
  gap: 10px;
}

.header__content {
  width: 100%;
  padding-top: 38px;
  @include flex(row);
  justify-content: space-between;
}

.header__navbar {
  @include flex(row);
  gap: 37px;
  flex-shrink: 1;

  img {
    width: 190px;
  }
}

.header__navbar__list {
  @include flex(row);
  gap: 20px;
}

.header__content__buttons {
  @include flex(row);
  gap: 15px;
}

.header__navbar__link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  border-bottom: 1px solid transparent;
  padding: 5px;

  &:hover {
    border-bottom: 1px solid #0c91fc;
  }
}

.order__call {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid var(--kn-2, #69bdf9);
  background: var(
    --kn,
    linear-gradient(94deg, #69bdf9 0%, rgba(105, 189, 249, 0.34) 100%)
  );
  backdrop-filter: blur(12px);
  padding: 9px 11px;

  &:hover {
    background: var(
      --kn,
      linear-gradient(94deg, #69bdf9 100%, rgba(105, 189, 249, 0.34) 0%)
    );
  }
}
