.products {
  margin-top: 80px;
  padding-top: 80px;
  background-color: var(--white);
  color: #013a51;
}

.products__header {
  width: 100%;
  @include flex(row);
  justify-content: space-between;
}

.products__maintitle {
  font-size: 48px;
  font-weight: 600;
}

.products__switch {
  @include flex(row);
  gap: 10px;
}

.products__link {
  @include flex(row);
  margin-right: 10px;
  color: #0c91fc;
  font-size: 20px;
  font-weight: 500;
}

.products__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.products__item {
  height: 901px;
  @include flex(column);
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #013a51;
  background: var(--white);
}

.products__maincontent {
  width: 100%;
  @include flex(column);
  justify-content: flex-start;
}

.products__image {
  width: 370px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.products__title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__type {
  width: 100%;
  @include flex(column);
  gap: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__type__span {
  color: rgba(1, 58, 81, 0.42);
  font-size: 16px;
  font-weight: 400;
}

.products__type__info {
  font-size: 18px;
  font-weight: 500;
}

.products__details {
  width: 100%;
}

.products__details__list {
  @include flex(column);
  gap: 5px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__details__item {
  @include flex(row);
  gap: 5px;

  span {
    color: rgba(1, 58, 81, 0.42);
  }
}

.products__payments {
  width: 100%;
}

.products__payments__subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(1, 58, 81, 0.12);
}

.products__payments__list {
  @include flex(column);
  gap: 5px;
  margin-top: 10px;
}

.products__payments__item {
  @include flex(row);
  gap: 5px;

  span {
    color: rgba(1, 58, 81, 0.42);
  }

  &:not(:first-child) {
    color: #0c91fc;
  }
}

.products__price {
  width: 100%;
  @include flex(row);
  justify-content: space-between;
}

.products__price__cost {
  font-size: 24px;
  font-weight: 500;
}

.products__price__link {
  width: 100%;
  max-width: 365px;
  @include flex(row);
  justify-content: center;
  text-align: center;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background: #0c91fc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.products__order__link {
  max-width: 200px;
}
