.products__page {
  background-color: var(--white);
  color: #023a51;
  // padding-top: 30px;
  // padding-bottom: 90px;

  .products__item {
    height: 958px;
  }
}

.products__page__header {
  margin-top: 25px;
  padding-bottom: 60px;
  background: var(--1, linear-gradient(100deg, #1b5871 0%, #104f68 101.09%));

  .container {
    @include flex(column);
  }
}

.products__page__header__info {
  width: 100%;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
  color: var(--1, #868686);
  font-size: 12px;
  font-weight: 400;

  span {
    color: var(--white);
  }
}

.products__page__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  margin-top: 5px;
}

.products__page__categories__list {
  margin-top: 30px;
  @include flex(row);
  gap: 15px;

  .products__page__categories__item:nth-child(1) {
    color: var(--white);
    background: #0c91fc;
  }
}

.products__page__categories__item {
  color: #092433;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 8px;
  background: #f4f4f5;
  padding: 10px;
  cursor: pointer;

  &:hover {
    color: var(--white);
    background: #0c91fc;
  }
}
