
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-594-Gaw {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item-594-Gaw .auto-group-gv5d-xyZ {
  margin-bottom: 33.7rem;
  width: 293.3865rem;
  height: 98.9rem;
  position: relative;
  flex-shrink: 0;
}
.item-594-Gaw .auto-group-gv5d-xyZ .rectangle-1-T9d {
  width: 192rem;
  height: 55.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #383838 -0%, #2d2d2d 100%);
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--Mko {
  width: 15.4rem;
  height: 2rem;
  position: absolute;
  left: 31.5rem;
  top: 33.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--1KZ {
  width: 22.2rem;
  height: 2rem;
  position: absolute;
  left: 31.5rem;
  top: 36.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--5KR {
  width: 20.4rem;
  height: 2rem;
  position: absolute;
  left: 31.5rem;
  top: 40rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--x8K {
  width: 25.3rem;
  height: 2rem;
  position: absolute;
  left: 31.5rem;
  top: 43.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--E5q {
  width: 25.3rem;
  height: 2rem;
  position: absolute;
  left: 31.5rem;
  top: 46.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--5MM {
  width: 18.6rem;
  height: 2rem;
  position: absolute;
  left: 31.5rem;
  top: 50.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .vector-ANo {
  width: 1.5556rem;
  height: 0.7778rem;
  position: absolute;
  left: 158.9rem;
  top: 28.9222rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--gc3 {
  width: 25rem;
  height: 2rem;
  position: absolute;
  left: 31.5rem;
  top: 28.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .group-10-YeF {
  width: 12.9rem;
  height: 3rem;
  position: absolute;
  left: 53.5rem;
  top: 9.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0c91fc;
  box-sizing: border-box;
  backdrop-filter: blur(1.2rem);
  border-radius: 0.3rem;
}
.item-594-Gaw .auto-group-gv5d-xyZ .group-11-mmu {
  width: 16.1rem;
  height: 4rem;
  position: absolute;
  left: 144.4rem;
  top: 8.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  backdrop-filter: blur(1.2rem);
  background: linear-gradient(93.53deg, #69bdf9 0%, rgba(105, 189, 249, 0.3400000036) 100%);
  border-radius: 0.3rem;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--CMR {
  width: 7.6rem;
  height: 2rem;
  position: absolute;
  left: 68.4rem;
  top: 9.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--J9Z {
  width: 15.5rem;
  height: 1.5rem;
  position: absolute;
  left: 31.7rem;
  top: 17.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--J9Z .item--J9Z-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #858585;
  font-family: Inter, 'Source Sans Pro';
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--J9Z .item--J9Z-sub-1 {
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--Kis {
  width: 10.1rem;
  height: 2rem;
  position: absolute;
  left: 77.5rem;
  top: 9.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--1rb {
  width: 10.8rem;
  height: 2rem;
  position: absolute;
  left: 88.9rem;
  top: 9.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--iFD {
  width: 8.3rem;
  height: 2rem;
  position: absolute;
  left: 101.3rem;
  top: 9.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--1k7 {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 34.4rem;
  top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item-9-00-18-00-XTZ {
  width: 22rem;
  height: 2rem;
  position: absolute;
  left: 80.1rem;
  top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item-7-800-700-20-60-C3u {
  width: 15.3rem;
  height: 2rem;
  position: absolute;
  left: 106.6rem;
  top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item-7-495-725-25-63-VYo {
  width: 15.3rem;
  height: 2rem;
  position: absolute;
  left: 124.2rem;
  top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .infomoyka-waveru-Ci7 {
  width: 16rem;
  height: 2rem;
  position: absolute;
  left: 144.6rem;
  top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item-2-7aB {
  width: 19rem;
  height: 6.1953rem;
  position: absolute;
  left: 31.5rem;
  top: 7.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .vector-2-SMZ {
  width: 129rem;
  height: 0rem;
  position: absolute;
  left: 31.5rem;
  top: 4.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .vector-3-Zh5 {
  width: 129rem;
  height: 0rem;
  position: absolute;
  left: 31.5rem;
  top: 16.1rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .vector-4-tUT {
  width: 129rem;
  height: 0rem;
  position: absolute;
  left: 31.5rem;
  top: 25.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .expandmorefill0wght400grad0opsz48-1-1-2qZ {
  width: 1.1rem;
  height: 0.6485rem;
  position: absolute;
  left: 41.55rem;
  top: 2.0608rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .languagefill0wght400grad0opsz48-2-1-jzs {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 31.7rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .schedulefill0wght400grad0opsz48-1-wb9 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 76.9rem;
  top: 1.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .phoneintalkfill0wght400grad0opsz48-4-1-puq {
  width: 1.8rem;
  height: 1.8025rem;
  position: absolute;
  left: 103.5rem;
  top: 1.4975rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .mailfill0wght400grad0opsz48-8-1-XJT {
  width: 2rem;
  height: 1.6rem;
  position: absolute;
  left: 141.7rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item-594-Gaw .auto-group-gv5d-xyZ .ellipse-11-3nb {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 122.9rem;
  top: 2.1rem;
  background-color: #0c91fc;
  border-radius: 0.2rem;
}
.item-594-Gaw .auto-group-gv5d-xyZ .item--AcK {
  width: 34rem;
  height: 4.9rem;
  position: absolute;
  left: 31.5rem;
  top: 19.6rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-594-Gaw .auto-group-devq-T5d {
  margin-left: 52.0918rem;
  width: 146.3662rem;
  height: 76.7057rem;
  flex-shrink: 0;
}
