
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.mob-3-3-CDH {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mob-3-3-CDH .auto-group-jozm-uNb {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.3rem 1rem 1.2rem 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(279.97deg, #262626 100%, #3a3a3a 201.09%);
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .auto-group-retv-ois {
  margin: 0rem 0rem 1.9rem 0.417rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .auto-group-retv-ois .iconex-light-burger-vHh {
  margin: 0rem 1.917rem 0.1rem 0rem;
  width: 1.6667rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .auto-group-retv-ois .item-2-RkF {
  margin: 0.061rem 1.8rem 0rem 0rem;
  width: 10rem;
  height: 3.2606rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .auto-group-retv-ois .group-10-izF {
  margin: 0.5rem 1.3rem 0.5rem 0rem;
  width: 12.9rem;
  height: calc(100% - 1rem);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0c91fc;
  box-sizing: border-box;
  backdrop-filter: blur(1.2rem);
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .auto-group-retv-ois .group-2085654856-jPZ {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .vector-2-fo1 {
  margin-bottom: 1rem;
  width: 34rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .wave-s-platinum-space-1M5 {
  max-width: 34rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-jozm-uNb .wave-s-platinum-space-1M5 .wave-s-platinum-space-1M5-sub-0 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #858585;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-jozm-uNb .wave-s-platinum-space-1M5 .wave-s-platinum-space-1M5-sub-1 {
}
.mob-3-3-CDH .platinum-space-Y83 {
  margin-right: 1.7rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH {
  width: 100%;
  height: 398.9rem;
  position: relative;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb {
  width: 34rem;
  height: 43.1746rem;
  position: absolute;
  left: 1rem;
  top: 1.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb .rectangle-240651395-z8T {
  margin-bottom: 1.6191rem;
  width: 34rem;
  height: 34.5397rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb .auto-group-nxko-6BV {
  margin: 0 0rem;
  width: calc(100% - 0.0001rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb .auto-group-nxko-6BV .group-2085654879-cQj {
  margin: 0rem 0.809rem 0rem 0rem;
  width: 3.0222rem;
  height: 3.0222rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb .auto-group-nxko-6BV .rectangle-240651404-wT1 {
  margin-right: 0.6478rem;
  width: 8.3651rem;
  height: 7.0159rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb .auto-group-nxko-6BV .rectangle-240651405-GEP {
  margin-right: 0.6475rem;
  width: 8.3111rem;
  height: 7.0159rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb .auto-group-nxko-6BV .rectangle-240651406-bXZ {
  margin-right: 0.8095rem;
  width: 8.3651rem;
  height: 7.0159rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654923-4kb .auto-group-nxko-6BV .group-2085654880-jNs {
  margin-bottom: 0.0001rem;
  width: 3.0222rem;
  height: 3.0222rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--4g3 {
  width: 19.7rem;
  height: 2.2rem;
  position: absolute;
  left: 1rem;
  top: 48.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--8fu {
  width: 25.4rem;
  height: 2.2rem;
  position: absolute;
  left: 1rem;
  top: 64.9rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--oGF {
  width: 11.9rem;
  height: 2.2rem;
  position: absolute;
  left: 1rem;
  top: 86rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--toV {
  width: 17.2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 68.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--toV .item--toV-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--toV .item--toV-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-200--zzw {
  width: 34rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 89.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-200--zzw .item-200--zzw-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-200--zzw .item-200--zzw-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--H6s {
  width: 21.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 93.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--H6s .item--H6s-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--H6s .item--H6s-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--Qao {
  width: 27.6rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 95.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--Qao .item--Qao-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--Qao .item--Qao-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--89R {
  width: 34rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 98.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--89R .item--89R-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--89R .item--89R-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--bx7 {
  width: 33.4rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 102.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--bx7 .item--bx7-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--bx7 .item--bx7-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--bx7 .item--bx7-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .cashcode-zsm {
  width: 23.6rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 51.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .cashcode-zsm .cashcode-zsm-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .cashcode-zsm .cashcode-zsm-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .microcoin-sp-ab5 {
  width: 25.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 54.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .microcoin-sp-ab5 .microcoin-sp-ab5-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .microcoin-sp-ab5 .microcoin-sp-ab5-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--wa3 {
  width: 28.2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 56.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--wa3 .item--wa3-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--wa3 .item--wa3-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--HnK {
  width: 28.1rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 59rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--HnK .item--HnK-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--HnK .item--HnK-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--SHq {
  width: 19.1rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 107.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--jGw {
  width: 19.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 70.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--jGw .item--jGw-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--jGw .item--jGw-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .touch-43--6mh {
  width: 25.9rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 72.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .touch-43--6mh .touch-43--6mh-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .touch-43--6mh .touch-43--6mh-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--thZ {
  width: 16.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 75.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--thZ .item--thZ-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--thZ .item--thZ-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-90-Uvf {
  width: 11.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 77.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-90-Uvf .item-90-Uvf-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-90-Uvf .item-90-Uvf-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .ambilight--J91 {
  width: 29.3rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 80.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .ambilight--J91 .ambilight--J91-sub-0 {
}
.mob-3-3-CDH .auto-group-qdeb-4MH .ambilight--J91 .ambilight--J91-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .vector-161-Uxb {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 46.6rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .vector-164-pmZ {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 62.9rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .vector-165-xcs {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 84rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .vector-166-6yy {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 111.3rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .auto-group-jhmm-Fby {
  width: 34.7rem;
  height: 3rem;
  position: absolute;
  left: 1rem;
  top: 113.3rem;
  display: flex;
  align-items: center;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .auto-group-jhmm-Fby .item--nbu {
  margin-right: 14.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .auto-group-jhmm-Fby .item-587-000--ugX {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654884-Eio {
  width: 34rem;
  height: 5rem;
  position: absolute;
  left: 1rem;
  top: 117.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c91fc;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654911-VPq {
  width: 34rem;
  height: 5rem;
  position: absolute;
  left: 1rem;
  top: 123.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #013a51;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654924-xHR {
  width: 34rem;
  height: 21.9683rem;
  position: absolute;
  left: 1rem;
  top: 129.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654924-xHR .auto-group-yfkr-Hab {
  margin-bottom: 0.8149rem;
  width: 100%;
  height: 19.1533rem;
  position: relative;
  box-sizing: border-box;
  background-size: 100% 133.136%;
  background-position: 0rem -3.1733rem;
  background-image: url('../assets/rectangle-1059-bg.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654924-xHR .auto-group-yfkr-Hab .rectangle-1058-d8f {
  width: 7.48rem;
  height: 7.48rem;
  position: absolute;
  left: 13.26rem;
  top: 5.78rem;
  box-sizing: border-box;
  background: linear-gradient(140.45deg, #d8253b 3.08%, rgba(255, 0, 31, 0.5799999833) 95.2%);
  border-radius: 25.5rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654924-xHR .auto-group-yfkr-Hab .vector-73q {
  width: 4.6467rem;
  height: 4.6467rem;
  position: absolute;
  left: 14.6199rem;
  top: 7.2533rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654924-xHR .auto-group-yfkr-Hab .auto-group-yfkr-Hab-bg {
  width: 34rem;
  height: 19.1533rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:b41b16bda1ee75e20abb9869b65154053665612b');
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654924-xHR .item--k6o {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .vector-168-CDh {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 153.1rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--jUX {
  width: 16.2rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 155.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .platinum-space-20-30-25--EAP {
  width: 34.1rem;
  height: 28.9rem;
  position: absolute;
  left: 1rem;
  top: 160rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--Zdu {
  width: 35.3rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 189.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--oYF {
  width: 28.9rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 212.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--4j5 {
  width: 34.1rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 222.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--Gq9 {
  width: 33.6rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 251rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .cash-code-sm-400-microcoin-sp-touch-43-ambilight--veo {
  width: 34.1rem;
  height: 18.7rem;
  position: absolute;
  left: 1rem;
  top: 191.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--YCK {
  width: 33.6rem;
  height: 6.8rem;
  position: absolute;
  left: 1rem;
  top: 215.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-1-2-3-4-5-6-7-8-9-10-11--rsD {
  width: 34rem;
  height: 23.8rem;
  position: absolute;
  left: 1rem;
  top: 226.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-11-12--e4K {
  width: 33.9rem;
  height: 6.8rem;
  position: absolute;
  left: 1rem;
  top: 255.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-7-495-927-01-21-7s1 {
  width: 34rem;
  height: 5.1rem;
  position: absolute;
  left: 1rem;
  top: 262.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-7-495-927-01-21-7s1 .item-7-495-927-01-21-7s1-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item-7-495-927-01-21-7s1 .item-7-495-927-01-21-7s1-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .vector-169-ZF9 {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 1rem;
  top: 270.7rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .auto-group-4hkh-hMM {
  width: 34rem;
  height: 5.9rem;
  position: absolute;
  left: 1rem;
  top: 273.7rem;
  display: flex;
  align-items: center;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .auto-group-4hkh-hMM .item--RYF {
  margin-right: 4.3rem;
  max-width: 19rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .auto-group-4hkh-hMM .group-2085654925-j39 {
  margin: 0rem 0.877rem 0.189rem 0rem;
  width: 4.9115rem;
  height: 4.9115rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .auto-group-4hkh-hMM .group-2085654918-r7m {
  margin-bottom: 0.1885rem;
  width: 4.9115rem;
  height: 4.9115rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .item--mkX {
  width: 20.6rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 280.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654876-Sbm {
  box-sizing: border-box;
  padding: 1.659rem 1.658rem 1.061rem 1.659rem;
  width: 34rem;
  height: 36.5rem;
  position: absolute;
  left: 1rem;
  top: 283.9rem;
  border: solid 0.1rem #e0e7ea;
  background-color: #ffffff;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654876-Sbm .rectangle-240651376-LSF {
  margin-bottom: 1.0439rem;
  width: 30.6829rem;
  height: 21.1463rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654876-Sbm .item--exj {
  margin-bottom: 3.3732rem;
  max-width: 30.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654876-Sbm .auto-group-t5pf-Hko {
  width: 12.8878rem;
  height: 3.3171rem;
  position: relative;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654876-Sbm .auto-group-t5pf-Hko .item--q1d {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6634rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4252273015;
  letter-spacing: -0.028rem;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654876-Sbm .auto-group-t5pf-Hko .group-48095661-WtT {
  width: 3.3171rem;
  height: 3.3171rem;
  position: absolute;
  left: 9.5707rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654919-1qD {
  box-sizing: border-box;
  padding: 1.659rem 1.658rem 1.061rem 1.659rem;
  width: 34rem;
  height: 36.5rem;
  position: absolute;
  left: 1rem;
  top: 321.9rem;
  border: solid 0.1rem #e0e7ea;
  background-color: #ffffff;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654919-1qD .rectangle-240651376-vBV {
  margin-bottom: 1.0439rem;
  width: 30.6829rem;
  height: 21.1463rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654919-1qD .item--3X1 {
  margin-bottom: 3.3732rem;
  max-width: 30.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654919-1qD .auto-group-tpk9-g4B {
  width: 12.8878rem;
  height: 3.3171rem;
  position: relative;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654919-1qD .auto-group-tpk9-g4B .item--DZu {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6634rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4252273015;
  letter-spacing: -0.028rem;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654919-1qD .auto-group-tpk9-g4B .group-48095661-uSj {
  width: 3.3171rem;
  height: 3.3171rem;
  position: absolute;
  left: 9.5707rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654920-Q8b {
  box-sizing: border-box;
  padding: 1.659rem 1.658rem 1.061rem 1.659rem;
  width: 34rem;
  height: 36.5rem;
  position: absolute;
  left: 1rem;
  top: 359.9rem;
  border: solid 0.1rem #e0e7ea;
  background-color: #ffffff;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654920-Q8b .rectangle-240651376-hdV {
  margin-bottom: 1.0439rem;
  width: 30.6829rem;
  height: 21.1463rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654920-Q8b .item--RpP {
  margin-bottom: 3.3732rem;
  max-width: 30.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654920-Q8b .auto-group-9sk7-fij {
  width: 12.8878rem;
  height: 3.3171rem;
  position: relative;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654920-Q8b .auto-group-9sk7-fij .item--1Xh {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6634rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4252273015;
  letter-spacing: -0.028rem;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-qdeb-4MH .group-2085654920-Q8b .auto-group-9sk7-fij .group-48095661-JWo {
  width: 3.3171rem;
  height: 3.3171rem;
  position: absolute;
  left: 9.5707rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-843m-Cs5 {
  box-sizing: border-box;
  padding: 3rem 1rem 5.5rem 0.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #383838 -0%, #2d2d2d 100%);
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .item--vHH {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .item--2LK {
  margin: 0rem 0.1rem 2.8rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654893-UCK {
  margin: 0rem 0rem 1.5rem 0.3rem;
  width: 34rem;
  height: 8rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654893-UCK .item--bGw {
  width: 15.6rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654893-UCK .rectangle-240651399-5C7 {
  width: 34rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654894-PyV {
  margin: 0rem 0rem 1.5rem 0.3rem;
  width: 34rem;
  height: 8rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654894-PyV .item--vyR {
  width: 18.7rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654894-PyV .rectangle-240651400-DSj {
  width: 34rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654892-9LP {
  margin: 0rem 0rem 1.5rem 0.3rem;
  width: 34rem;
  height: 12.6rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654892-9LP .item--snB {
  width: 11.6rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654892-9LP .rectangle-240651401-m6s {
  width: 34rem;
  height: 12.6rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654886-VYf {
  margin: 0 0.7rem;
  box-sizing: border-box;
  padding: 0.7rem 0.7rem 0.7rem 1.9rem;
  width: calc(100% - 1.4rem);
  height: 8rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(1.2rem);
  background: radial-gradient(100% 100% at 0% 0%, rgba(249, 249, 249, 0.200000003) 0%, rgba(246, 246, 246, 0.200000003) 100%);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654886-VYf .item--zkK {
  margin: 2.2rem 3.8rem 0rem 0rem;
  max-width: 19.9rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654886-VYf .auto-group-8xb9-UQb {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  height: 100%;
  backdrop-filter: blur(1.2rem);
  background: linear-gradient(140.45deg, #4aaeff 3.08%, rgba(12, 145, 252, 0.3700000048) 95.2%);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-843m-Cs5 .group-2085654886-VYf .auto-group-8xb9-UQb .vector-pDZ {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-3-CDH .auto-group-p2xu-NPV {
  box-sizing: border-box;
  padding: 2.4rem 1rem 3.7rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .item-3-FTH {
  margin-bottom: 1.0047rem;
  width: 19rem;
  height: 6.1953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .item--yPH {
  margin-bottom: 1rem;
  max-width: 33.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-bls7-CWw {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-bls7-CWw .orig-1-1-jWs {
  margin-right: 10.2rem;
  width: 15rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-bls7-CWw .group-1216400668-Fk7 {
  margin: 0rem 1rem 0.1rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-bls7-CWw .group-2085654889-yg7 {
  margin-bottom: 0.1rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .item--hs1 {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .item--QFd {
  margin-bottom: 2rem;
  max-width: 27.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .item--XUf {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654922-epB {
  margin: 0rem 8.6rem 1.9rem 0rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: calc(100% - 8.6rem);
  height: 3.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654922-epB .schedulefill0wght400grad0opsz48-2-xK5 {
  margin: 0.2rem 1.2rem 0rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654922-epB .auto-group-qqxh-Gaf {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654922-epB .auto-group-qqxh-Gaf .item--2Zq {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #47829a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654922-epB .auto-group-qqxh-Gaf .item-9-00-18-00-M6K {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654921-rYs {
  margin: 0rem 15.3rem 1.9rem 0rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: calc(100% - 15.3rem);
  height: 5.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654921-rYs .phoneintalkfill0wght400grad0opsz48-4-2-ApT {
  margin: 0.297rem 1.3rem 0rem 0rem;
  width: 1.8rem;
  height: 1.8025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654921-rYs .auto-group-pygb-UaF {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654921-rYs .auto-group-pygb-UaF .item--SX5 {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #47829a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654921-rYs .auto-group-pygb-UaF .item-7-800-700-20-60-7-495-725-25-63-xkK {
  max-width: 15.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654891-Twy {
  margin: 0rem 14.6rem 1.9rem 0rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: calc(100% - 14.6rem);
  height: 3.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654891-Twy .mailfill0wght400grad0opsz48-8-2-yfR {
  margin: 0.4rem 1.2rem 0rem 0rem;
  width: 2rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654891-Twy .auto-group-preb-tnP {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654891-Twy .auto-group-preb-tnP .item--F79 {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #47829a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .group-2085654891-Twy .auto-group-preb-tnP .infomoyka-waveru-NhZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .item--uhV {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-gqtf-ons {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-gqtf-ons .item--ky1 {
  margin-right: 4.7rem;
  max-width: 6.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-gqtf-ons .item--Qnf {
  margin-right: 4.8rem;
  max-width: 9.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .auto-group-gqtf-ons .item--eBD {
  max-width: 7.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .vector-170-iRy {
  margin: 0rem 0rem 3rem 0.2rem;
  width: 33.8rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .wave-s--Ssm {
  width: 100%;
  max-width: 29.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-3-CDH .auto-group-p2xu-NPV .wave-s--Ssm .wave-s--Ssm-sub-0 {
}
.mob-3-3-CDH .auto-group-p2xu-NPV .wave-s--Ssm .wave-s--Ssm-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-p2xu-NPV .wave-s--Ssm .wave-s--Ssm-sub-2 {
}
.mob-3-3-CDH .auto-group-p2xu-NPV .wave-s--Ssm .wave-s--Ssm-sub-3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-3-CDH .auto-group-p2xu-NPV .wave-s--Ssm .wave-s--Ssm-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
