
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.mob-3-yHu {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mob-3-yHu .auto-group-8h6k-Jb5 {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.3rem 1rem 1.2rem 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(279.97deg, #1a5770 100%, #104e68 201.09%);
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .auto-group-i1gx-21H {
  margin: 0rem 0rem 1.9rem 0.417rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .auto-group-i1gx-21H .iconex-light-burger-jgP {
  margin: 0rem 1.917rem 0.1rem 0rem;
  width: 1.6667rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .auto-group-i1gx-21H .item-2-Fej {
  margin: 0.061rem 1.8rem 0rem 0rem;
  width: 10rem;
  height: 3.2606rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .auto-group-i1gx-21H .group-10-m7H {
  margin: 0.5rem 1.3rem 0.5rem 0rem;
  width: 12.9rem;
  height: calc(100% - 1rem);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0c91fc;
  box-sizing: border-box;
  backdrop-filter: blur(1.2rem);
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .auto-group-i1gx-21H .group-2085654856-n2P {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .vector-2-7qM {
  margin-bottom: 1rem;
  width: 34rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .wave-s-platinum-space-eaP {
  max-width: 34rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-8h6k-Jb5 .wave-s-platinum-space-eaP .wave-s-platinum-space-eaP-sub-0 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5c8799;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-8h6k-Jb5 .wave-s-platinum-space-eaP .wave-s-platinum-space-eaP-sub-1 {
}
.mob-3-yHu .platinum-space-B6T {
  margin-right: 1.7rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP {
  width: 100%;
  height: 398.9rem;
  position: relative;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 {
  width: 34rem;
  height: 43.1746rem;
  position: absolute;
  left: 1rem;
  top: 1.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 .rectangle-240651395-iVh {
  margin-bottom: 1.6191rem;
  width: 34rem;
  height: 34.5397rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 .auto-group-73dd-Rf1 {
  margin: 0 0rem;
  width: calc(100% - 0.0001rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 .auto-group-73dd-Rf1 .group-2085654879-A6o {
  margin: 0rem 0.809rem 0rem 0rem;
  width: 3.0222rem;
  height: 3.0222rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 .auto-group-73dd-Rf1 .rectangle-240651404-UtB {
  margin-right: 0.6477rem;
  width: 8.3651rem;
  height: 7.0159rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 .auto-group-73dd-Rf1 .rectangle-240651405-1dD {
  margin-right: 0.6476rem;
  width: 8.3111rem;
  height: 7.0159rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 .auto-group-73dd-Rf1 .rectangle-240651406-8xj {
  margin-right: 0.8095rem;
  width: 8.3651rem;
  height: 7.0159rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654923-nc3 .auto-group-73dd-Rf1 .group-2085654880-sQX {
  margin-bottom: 0.0001rem;
  width: 3.0222rem;
  height: 3.0222rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--oJB {
  width: 19.7rem;
  height: 2.2rem;
  position: absolute;
  left: 1rem;
  top: 48.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--4ju {
  width: 25.4rem;
  height: 2.2rem;
  position: absolute;
  left: 1rem;
  top: 64.9rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--jb9 {
  width: 11.9rem;
  height: 2.2rem;
  position: absolute;
  left: 1rem;
  top: 86rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--EXu {
  width: 17.2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 68.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--EXu .item--EXu-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--EXu .item--EXu-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-200--kPm {
  width: 34rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 89.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-200--kPm .item-200--kPm-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item-200--kPm .item-200--kPm-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--DwZ {
  width: 21.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 93.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--DwZ .item--DwZ-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--DwZ .item--DwZ-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--Nxs {
  width: 27.6rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 95.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--Nxs .item--Nxs-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--Nxs .item--Nxs-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--tZq {
  width: 34rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 98.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--tZq .item--tZq-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--tZq .item--tZq-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--BxF {
  width: 33.4rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 102.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--BxF .item--BxF-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--BxF .item--BxF-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--BxF .item--BxF-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .cashcode-mJB {
  width: 23.6rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 51.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .cashcode-mJB .cashcode-mJB-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .cashcode-mJB .cashcode-mJB-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .microcoin-sp-8H9 {
  width: 25.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 54.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .microcoin-sp-8H9 .microcoin-sp-8H9-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .microcoin-sp-8H9 .microcoin-sp-8H9-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--tfd {
  width: 28.2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 56.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--tfd .item--tfd-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--tfd .item--tfd-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--wGX {
  width: 28.1rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 59rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--wGX .item--wGX-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--wGX .item--wGX-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--5n3 {
  width: 19.1rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 107.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--ZhD {
  width: 19.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 70.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--ZhD .item--ZhD-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--ZhD .item--ZhD-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .touch-43--KZu {
  width: 25.9rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 72.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .touch-43--KZu .touch-43--KZu-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .touch-43--KZu .touch-43--KZu-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--W8b {
  width: 16.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 75.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--W8b .item--W8b-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item--W8b .item--W8b-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-90-5b1 {
  width: 11.5rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 77.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .item-90-5b1 .item-90-5b1-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .item-90-5b1 .item-90-5b1-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .ambilight--4xj {
  width: 29.3rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 80.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(1, 58, 81, 0.4199999869);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mob-3-yHu .auto-group-zt9y-HQP .ambilight--4xj .ambilight--4xj-sub-0 {
}
.mob-3-yHu .auto-group-zt9y-HQP .ambilight--4xj .ambilight--4xj-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .vector-161-qc7 {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 46.6rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .vector-164-yTR {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 62.9rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .vector-165-KXH {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 84rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .vector-166-sYo {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 111.3rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .auto-group-dqfz-DsZ {
  width: 34.7rem;
  height: 3rem;
  position: absolute;
  left: 1rem;
  top: 113.3rem;
  display: flex;
  align-items: center;
}
.mob-3-yHu .auto-group-zt9y-HQP .auto-group-dqfz-DsZ .item--A27 {
  margin-right: 14.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .auto-group-dqfz-DsZ .item-587-000--HMd {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654884-E1y {
  width: 34rem;
  height: 5rem;
  position: absolute;
  left: 1rem;
  top: 117.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c91fc;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654911-tsD {
  width: 34rem;
  height: 5rem;
  position: absolute;
  left: 1rem;
  top: 123.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #013a51;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654924-MF1 {
  width: 34rem;
  height: 21.9683rem;
  position: absolute;
  left: 1rem;
  top: 129.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654924-MF1 .auto-group-zyzh-UqR {
  margin-bottom: 0.8149rem;
  width: 100%;
  height: 19.1533rem;
  position: relative;
  box-sizing: border-box;
  background-size: 100% 133.136%;
  background-position: 0rem -3.1733rem;
  background-image: url('../assets/rectangle-1059-bg-Dhm.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654924-MF1 .auto-group-zyzh-UqR .rectangle-1058-2M9 {
  width: 7.48rem;
  height: 7.48rem;
  position: absolute;
  left: 13.26rem;
  top: 5.78rem;
  box-sizing: border-box;
  background: linear-gradient(140.45deg, #d8253b 3.08%, rgba(255, 0, 31, 0.5799999833) 95.2%);
  border-radius: 25.5rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654924-MF1 .auto-group-zyzh-UqR .vector-JpT {
  width: 4.6467rem;
  height: 4.6467rem;
  position: absolute;
  left: 14.62rem;
  top: 7.2533rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654924-MF1 .auto-group-zyzh-UqR .auto-group-zyzh-UqR-bg {
  width: 34rem;
  height: 19.1533rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:b41b16bda1ee75e20abb9869b65154053665612b');
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654924-MF1 .item--vaw {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .vector-168-mrT {
  width: 34rem;
  height: 0rem;
  position: absolute;
  left: 1rem;
  top: 153.1rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--iFu {
  width: 16.2rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 155.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #023a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .platinum-space-20-30-25--oHM {
  width: 34.1rem;
  height: 28.9rem;
  position: absolute;
  left: 1rem;
  top: 160rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--EvP {
  width: 35.3rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 189.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--Hdm {
  width: 28.9rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 212.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--9fy {
  width: 34.1rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 222.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--Zzb {
  width: 33.6rem;
  height: 3.9rem;
  position: absolute;
  left: 1rem;
  top: 251rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .cash-code-sm-400-microcoin-sp-touch-43-ambilight--2dH {
  width: 34.1rem;
  height: 18.7rem;
  position: absolute;
  left: 1rem;
  top: 191.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item--byD {
  width: 33.6rem;
  height: 6.8rem;
  position: absolute;
  left: 1rem;
  top: 215.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-1-2-3-4-5-6-7-8-9-10-11--vu1 {
  width: 34rem;
  height: 23.8rem;
  position: absolute;
  left: 1rem;
  top: 226.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-11-12--WPM {
  width: 33.9rem;
  height: 6.8rem;
  position: absolute;
  left: 1rem;
  top: 255.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-7-495-927-01-21-zSw {
  width: 34rem;
  height: 5.1rem;
  position: absolute;
  left: 1rem;
  top: 262.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-7-495-927-01-21-zSw .item-7-495-927-01-21-zSw-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .item-7-495-927-01-21-zSw .item-7-495-927-01-21-zSw-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .vector-169-epK {
  width: 34rem;
  height: 0;
  position: absolute;
  left: 1rem;
  top: 270.7rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .auto-group-bgrh-C59 {
  width: 28.2115rem;
  height: 5.9rem;
  position: absolute;
  left: 1rem;
  top: 273.7rem;
  display: flex;
  align-items: center;
}
.mob-3-yHu .auto-group-zt9y-HQP .auto-group-bgrh-C59 .item--ipB {
  margin-right: 4.3rem;
  max-width: 19rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .auto-group-bgrh-C59 .group-2085654917-Qwu {
  margin-bottom: 0.1885rem;
  width: 4.9115rem;
  height: 4.9115rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .auto-group-zt9y-HQP .item--Xmd {
  width: 20.6rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 280.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0c91fc;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654876-oz3 {
  box-sizing: border-box;
  padding: 1.659rem 1.659rem 1.061rem 1.658rem;
  width: 34rem;
  height: 36.5rem;
  position: absolute;
  left: 1rem;
  top: 283.9rem;
  border: solid 0.1rem #e0e7ea;
  background-color: #ffffff;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654876-oz3 .rectangle-240651376-iLK {
  margin: 0rem 0rem 1.044rem 0rem;
  width: 30.6829rem;
  height: 21.1463rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654876-oz3 .item--peF {
  margin-bottom: 3.3732rem;
  max-width: 30.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654876-oz3 .auto-group-tdfr-etB {
  width: 12.8878rem;
  height: 3.3171rem;
  position: relative;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654876-oz3 .auto-group-tdfr-etB .item--Pqm {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6634rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4252273015;
  letter-spacing: -0.028rem;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654876-oz3 .auto-group-tdfr-etB .group-48095661-5ib {
  width: 3.3171rem;
  height: 3.3171rem;
  position: absolute;
  left: 9.5707rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654919-Ak3 {
  box-sizing: border-box;
  padding: 1.659rem 1.659rem 1.061rem 1.658rem;
  width: 34rem;
  height: 36.5rem;
  position: absolute;
  left: 1rem;
  top: 321.9rem;
  border: solid 0.1rem #e0e7ea;
  background-color: #ffffff;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654919-Ak3 .rectangle-240651376-4Kd {
  margin: 0rem 0rem 1.044rem 0rem;
  width: 30.6829rem;
  height: 21.1463rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654919-Ak3 .item--ySb {
  margin-bottom: 3.3732rem;
  max-width: 30.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654919-Ak3 .auto-group-lj1v-pCK {
  width: 12.8878rem;
  height: 3.3171rem;
  position: relative;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654919-Ak3 .auto-group-lj1v-pCK .item--m7Z {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6634rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4252273015;
  letter-spacing: -0.028rem;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654919-Ak3 .auto-group-lj1v-pCK .group-48095661-46f {
  width: 3.3171rem;
  height: 3.3171rem;
  position: absolute;
  left: 9.5707rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654920-A9h {
  box-sizing: border-box;
  padding: 1.659rem 1.659rem 1.061rem 1.658rem;
  width: 34rem;
  height: 36.5rem;
  position: absolute;
  left: 1rem;
  top: 359.9rem;
  border: solid 0.1rem #e0e7ea;
  background-color: #ffffff;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654920-A9h .rectangle-240651376-roD {
  margin: 0rem 0rem 1.044rem 0rem;
  width: 30.6829rem;
  height: 21.1463rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654920-A9h .item--mvB {
  margin-bottom: 3.3732rem;
  max-width: 30.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654920-A9h .auto-group-eeiw-D1V {
  width: 12.8878rem;
  height: 3.3171rem;
  position: relative;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654920-A9h .auto-group-eeiw-D1V .item--xUs {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.6634rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4252273015;
  letter-spacing: -0.028rem;
  color: #013a51;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .auto-group-zt9y-HQP .group-2085654920-A9h .auto-group-eeiw-D1V .group-48095661-Sew {
  width: 3.3171rem;
  height: 3.3171rem;
  position: absolute;
  left: 9.5707rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .group-2085654925-LEX {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB {
  box-sizing: border-box;
  padding: 3rem 1rem 5.5rem 0.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(279.97deg, #1a5770 100%, #104e68 201.09%);
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .item--QEP {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .item--6N7 {
  margin: 0rem 0.1rem 2.8rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654893-9bH {
  margin: 0rem 0rem 1.5rem 0.3rem;
  width: 34rem;
  height: 8rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654893-9bH .item--tHy {
  width: 15.6rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654893-9bH .rectangle-240651399-m6s {
  width: 34rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654894-gjd {
  margin: 0rem 0rem 1.5rem 0.3rem;
  width: 34rem;
  height: 8rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654894-gjd .item--DUf {
  width: 18.7rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654894-gjd .rectangle-240651400-h8w {
  width: 34rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654892-2S7 {
  margin: 0rem 0rem 1.5rem 0.3rem;
  width: 34rem;
  height: 12.6rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654892-2S7 .item--xKm {
  width: 11.6rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654892-2S7 .rectangle-240651401-eiP {
  width: 34rem;
  height: 12.6rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654886-BTR {
  margin: 0 0.7rem;
  box-sizing: border-box;
  padding: 0.7rem 0.7rem 0.7rem 1.9rem;
  width: calc(100% - 1.4rem);
  height: 8rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(1.2rem);
  background: radial-gradient(100% 100% at 0% 0%, rgba(249, 249, 249, 0.200000003) 0%, rgba(246, 246, 246, 0.200000003) 100%);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654886-BTR .item--UxK {
  margin: 2.2rem 3.8rem 0rem 0rem;
  max-width: 19.9rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654886-BTR .auto-group-4ej7-xcb {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  height: 100%;
  backdrop-filter: blur(1.2rem);
  background: linear-gradient(140.45deg, #4aaeff 3.08%, rgba(12, 145, 252, 0.3700000048) 95.2%);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-vwzh-gpB .group-2085654886-BTR .auto-group-4ej7-xcb .vector-JAf {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 {
  box-sizing: border-box;
  padding: 2.4rem 1rem 3.7rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #17546c;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .item-3-LWf {
  margin-bottom: 1.0047rem;
  width: 19rem;
  height: 6.1953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .item--rV1 {
  margin-bottom: 1rem;
  max-width: 33.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-h8cb-UWP {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-h8cb-UWP .orig-1-1-csV {
  margin-right: 10.2rem;
  width: 15rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-h8cb-UWP .group-1216400668-MKH {
  margin: 0rem 1rem 0.1rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-h8cb-UWP .group-2085654889-4zP {
  margin-bottom: 0.1rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .item--bDd {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .item--Hs9 {
  margin-bottom: 2rem;
  max-width: 27.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .item--R6B {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654922-92B {
  margin: 0rem 8.6rem 1.9rem 0rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: calc(100% - 8.6rem);
  height: 3.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654922-92B .schedulefill0wght400grad0opsz48-2-FL7 {
  margin: 0.2rem 1.2rem 0rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654922-92B .auto-group-rrh1-m3Z {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654922-92B .auto-group-rrh1-m3Z .item--KKy {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #47829a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654922-92B .auto-group-rrh1-m3Z .item-9-00-18-00-qJK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654921-947 {
  margin: 0rem 15.3rem 1.9rem 0rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: calc(100% - 15.3rem);
  height: 5.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654921-947 .phoneintalkfill0wght400grad0opsz48-4-2-Fsq {
  margin: 0.297rem 1.3rem 0rem 0rem;
  width: 1.8rem;
  height: 1.8025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654921-947 .auto-group-mwit-AV1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654921-947 .auto-group-mwit-AV1 .item--iFd {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #47829a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654921-947 .auto-group-mwit-AV1 .item-7-800-700-20-60-7-495-725-25-63-Ejm {
  max-width: 15.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654891-LXu {
  margin: 0rem 14.6rem 1.9rem 0rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: calc(100% - 14.6rem);
  height: 3.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654891-LXu .mailfill0wght400grad0opsz48-8-2-Fes {
  margin: 0.4rem 1.2rem 0rem 0rem;
  width: 2rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654891-LXu .auto-group-qzwd-NDh {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654891-LXu .auto-group-qzwd-NDh .item--XcP {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #47829a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .group-2085654891-LXu .auto-group-qzwd-NDh .infomoyka-waveru-ref {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .item--CCj {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-tqx1-VSj {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-tqx1-VSj .item--SMy {
  margin-right: 4.7rem;
  max-width: 6.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-tqx1-VSj .item--Vb9 {
  margin-right: 4.8rem;
  max-width: 9.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .auto-group-tqx1-VSj .item--XXq {
  max-width: 7.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .vector-170-nyZ {
  margin: 0rem 0rem 3rem 0.2rem;
  width: 33.8rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .wave-s--icK {
  width: 100%;
  max-width: 29.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .wave-s--icK .wave-s--icK-sub-0 {
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .wave-s--icK .wave-s--icK-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .wave-s--icK .wave-s--icK-sub-2 {
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .wave-s--icK .wave-s--icK-sub-3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.mob-3-yHu .group-2085654925-LEX .auto-group-88ub-Fk7 .wave-s--icK .wave-s--icK-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3126877708;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
